---
import ProgramSection from "@/src/components/programs/ProgramSection.astro";
import Layout from "./_layout.astro";
import Card from "@/src/components/programs/card/Card.astro";
import CardHeader from "@/src/components/programs/card/CardHeader.astro";
import CardBody from "@/src/components/programs/card/CardBody.astro";
import Link from "@/src/components/Link.astro";
import intersectionCrashesImage from "@/src/assets/images/intersection-safety/intersection-crashes.png";
import userDeathsImage from "@/src/assets/images/intersection-safety/user-deaths.png";
import { Image } from "astro:assets";
import CardFooter from "@/src/components/programs/card/CardFooter.astro";
import OverlayCard, { type OverlayResource } from "@/src/components/programs/OverlayCard.astro";
import iscLogo from "@/src/assets/images/intersection-safety/isc-logo.png";
import issLogo from "@/src/assets/images/intersection-safety/iss-logo.png";
import issBackground from "@/src/assets/images/intersection-safety/iss-background.png";
import iscBackground from "@/src/assets/images/intersection-safety/isc-background.jpg";
import base_url from "@/src/lib/base_url";
import plusIcon from "@/src/assets/images/intersection-safety/plus.png";
import equalsIcon from "@/src/assets/images/intersection-safety/equals.png";
import dataFusionIcon from "@/src/assets/images/intersection-safety/data-fusion.png";
import aiIcon from "@/src/assets/images/intersection-safety/ai.png";
import integrationIcon from "@/src/assets/images/intersection-safety/integration.png";

const stages: OverlayResource[] = [
  {
    name: "Intersection Safety Challenge",
    description: "Multiple teams competed against each other utilizing machine learning algorithms to detect, localize, and classify vulnerable road users and vehicles.",
    background: iscBackground,
    path: "/research-areas/intersection-safety/challenge",
    alt: "",
    icon: iscLogo,
    color: "blue"
  },
  {
    name: "Intersection Safety Systems",
    description: "",
    background: issBackground,
    path: "/research-areas/intersection-safety/prototype",
    alt: "",
    icon: issLogo,
    color: "purple"
  }
]
---
<style>
  .vision-container {
    background: rgb(var(--color-gray-light));
    border-radius: var(--radius-md);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
</style>
<style>
  .problem-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--size);
  }

  .problem {
    display: flex;
    flex-direction: column;
    gap: var(--size);
    padding: var(--size-xs);
    align-items: center;
  }

  .problem-image {
    max-width: 200px;
  }

  @media (min-width: 1200px) {
    .problem-container {
      grid-template-columns: repeat(2, 1fr);
    }

    .problem {
      flex-direction: row;
      align-items: center;
    }

    .problem-content {
      flex-basis: 70%;
    }

    .problem-image {
      flex-basis: 30%;
      
      height: auto;
    }
  }
</style>
<style>
  .stage-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--size);
  }

  @media (min-width: 1200px) {
    .stage-container {
      grid-template-columns: repeat(2, 1fr);
    }

    .stage {
      display: flex;
      flex-direction: column;
    }

    .stage-image {
      height: 200px;
      width: auto;
    }

    .stage-content {

    }
  }
</style>
<style>
  .solution-container {
    display: flex;
    flex-direction: column;
    gap: var(--size);
    align-items: center;
  }

  .solution-symbol {
    width: 50px;
  }

  .solution-icon {
    max-width: 200px;
  }

  .solution-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: 1200px) {
    .solution-container {
      display: grid;
      grid-template-columns: 1fr 0.1fr 1fr 0.1fr 1fr;
      grid-auto-rows: 1fr;
      gap: var(--size);
    }

    .solution-symbol {
      display: flex;
      align-items: center;
      justify-content: center;
      
    }

    .solution-card {
      height: 100%;
    }
  }
</style>
<Layout>
  <main class="program-main">
    <ProgramSection>
      <h2 class="program-title-lg">
        Program Overview
      </h2>
      <p class="program-text">
        The U.S. DOT Intersection Safety Challenge aims to transform intersection safety 
        by incentivizing the innovative application of new and emerging technologies 
        to identify and mitigate unsafe conditions involving vehicles and vulnerable road users 
        at intersections. The Challenge complements other Federal efforts to improve intersection safety, 
        with the Challenge specifically focused on the use of technology. Further, 
        the intersection environment itself is well-suited to innovative mitigative approaches leveraging, 
        utilizing, and potentially repurposing existing traffic control and support infrastructure.
      </p>
      <div class="vision-container mt-4">
        <h3 class="program-title-md mb-0">Vision</h3>
        <p class="program-text">
          <strong>Transform intersection safety</strong> through the innovative application 
          of emerging technologies including machine vision, sensor fusion, 
          and real-time decision-making to identify and mitigate unsafe conditions 
          involving vehicles and vulnerable road users.
        </p>
      </div>
    </ProgramSection>
    <ProgramSection color="gray">
      <h2 class="program-title-lg text-center">
        Addressing the Problem
      </h2>
      <p class="program-text text-center max-w-lg mx-auto">
        Intersection safety is a growing issue, especially for vulnerable road users.
      </p>
      <div class="problem-container mt-4">
        <Card shadow="none" hideBorder>
          <CardBody>
            <div class="problem">
              <div class="problem-image">
                <Image src={intersectionCrashesImage} alt="Intersection Crashes Icon" class="img-fluid" />
              </div>
              <div class="problem-content">
                <h3 class="program-title-md">
                  Intersection Crashes
                </h3>
                <p class="program-text">
                  Each year roughly one-quarter of traffic fatalities and about one-half 
                  of all traffic injuries in the United States are attributed 
                  to intersections <Link href="https://highways.dot.gov/safety/intersection-safety/about" isExternal>(FHWA Safety)</Link>.
                </p>
              </div>
            </div>
          </CardBody>
        </Card>
        <Card shadow="none" hideBorder>
          <CardBody>
            <div class="problem">
              <div class="problem-image">
                <Image src={userDeathsImage} alt="User Deaths Icon" class="img-fluid" />
              </div>
              <div class="problem-content">
                <h3 class="program-title-md">
                  Rising Vulnerable Road User Deaths
                </h3>
                <p class="program-text">
                  Vulnerable road user fatalities are on the rise with pedestrian fatalities 
                  up 13% and pedalcyclist fatalities up 2% in 2021 compared to 2020
                  <Link href="https://crashstats.nhtsa.dot.gov/Api/Public/ViewPublication/813435" isExternal>(NHTSA)</Link>.
                </p>
              </div>
            </div>
          </CardBody>
        </Card>
      </div>
    </ProgramSection>
    <ProgramSection color="gray">
      <h2 class="program-title-lg text-center">
        Proposing a Solution
      </h2>
      <p class="program-text text-center max-w-lg mx-auto">
        Leverage emerging technologies to improve intersection safety at scale in a new way.
      </p>
      <div class="solution-container mt-4">
          <Card class="solution-card">
            <CardHeader class="solution-header">
              <Image src={dataFusionIcon} alt="Data Fusion Icon" class="img-fluid solution-icon" />
            </CardHeader>
            <CardBody>
              <h3 class="program-title-md">
                Data Fusion Utilizing Existing and Emerging Sensors
              </h3>
            </CardBody>
            <CardFooter>
              <p class="program-text">
                Emerging, low-cost sensors can be deployed at intersections for 
                <strong>improved sensing of vulnerable road users</strong>. Data 
                from these sensors can be fused and used in new ways by AI.
              </p>
            </CardFooter>
          </Card>
        <div class="solution-symbol">
          <Image src={plusIcon} alt="Plus Icon" class="img-fluid" />
        </div>
          <Card class="solution-card">
            <CardHeader class="solution-header">
              <Image src={aiIcon} alt="AI Icon" class="img-fluid solution-icon" />
            </CardHeader>
            <CardBody>
              <h3 class="program-title-md">
                Artificial Intelligence and Machine Learning
              </h3>
            </CardBody>
            <CardFooter>
              <p class="program-text">
                AI/ML can fuse data from multiple machine vision sensing modalities 
                rapidly to <strong>improve situational awareness</strong> and 
                <strong>anticipate potential conflicts</strong>.
              </p>
            </CardFooter>
          </Card>
        <div class="solution-symbol">
          <Image src={equalsIcon} alt="Equals Icon" class="img-fluid" />
        </div>
          <Card class="solution-card">
            <CardHeader class="solution-header">
              <Image src={integrationIcon} alt="Integration Icon" class="img-fluid solution-icon" />
            </CardHeader>
            <CardBody>
              <h3 class="program-title-md">
                Low-Cost, High-Value Opportunity for Integration at Scale
              </h3>
            </CardBody>
            <CardFooter>
              <p class="program-text">
                These existing technologies have not been deployed together 
                at intersections broadly, offering an opportunity ripe 
                for <strong>innovative collaboration</strong>.
              </p>
            </CardFooter>
          </Card>
      </div>
    </ProgramSection>
    <ProgramSection>
      <h2 class="program-title-lg">
        Competitions
      </h2>
      <p class="program-text">
        Intersection Safety something something...
      </p>
      <div class="stage-container mt-4">
        <div class="stage">
          <div class="stage-image">
            <Image src={issLogo} alt="Intersection Safety Challenge Logo" class="img-fluid" />
          </div>
          <div class="stage-content">
            <p class="program-text">
              The Intersection Safety Systems stage is focused on developing and testing 
              systems that can improve intersection safety using the technologies described above.
            </p>
            <a class="program-button" href={base_url("/research-areas/intersection-safety/prototype")}>
              Learn More
            </a>
          </div>
        </div>
        <div class="stage">
          <div class="stage-image">
            <Image src={iscLogo} alt="Intersection Safety Challenge Logo" class="img-fluid" />
          </div>
          <div class="stage-content">
            <p class="program-text">
              Multiple teams competed against each other utilizing machine learning algorithms 
              to detect, localize, and classify vulnerable road users and vehicles.
            </p>
            <a class="program-button" href={base_url("/research-areas/intersection-safety/challenge")}>
              Learn More
            </a>
          </div>
        </div>
      </div>
    </ProgramSection>
    <ProgramSection>
      <h2 class="program-title-lg">
        Additional Resources
      </h2>
      <p class="program-text">
        NOT SURE WHAT TO INCLUDE HERE SINCE ALL THE RESOURCES WERE SUPER OLD ON THE OTHER SITE
      </p>
    </ProgramSection>
  </main>
</Layout>