---
import { Image } from "astro:assets";
import base_url from "@/src/lib/base_url";
import andre from "@/src/assets/images/its4us/andre.png";
import letitia from "@/src/assets/images/its4us/letitia.png";
import Takashi from "@/src/assets/images/its4us/Takashi.png";
import waukee from "@/src/assets/images/its4us/waukee.png";
import SeniorTransit from "@/src/assets/images/its4us/SeniorPublicTransit.jpeg";
import Hero from "@/src/assets/images/its4us/ITS4US-Hero.jpg";


import PageLayout from "@/src/layouts/PageLayout.astro";
import logo from "@/src/assets/images/banners/ITS4US_logo_white.png";
---

<style>
  hr {
    margin: 10px 0;
  }
  .blue {
    display: grid;
  }
  .center {
    width: 40%;
  }

  .carousel-indicators {
    position: absolute;
  }
  .carousel-control-prev {
    z-index: 1000;
    left: 0;
    padding: 0;
    margin: 0;
    width: 10%;
  }

  .carousel-control-next {
    z-index: 1000;
    right: 0;
    padding: 0;
    margin: 0;
    width: 10%;
  }
  .carousel-caption {
    background-color: rgba(25, 62, 85, 0.9);
    padding: 10px;
    margin: 0;
    width: 40%;
    left: 10%;
    bottom: 18%;
  }
  .carousel-caption p {
    font-size: smaller;
    margin: 0 0 10px 0;
    padding: 0;
  }
  .btn {
    margin: 0;
  }

  h2 {
    text-wrap: pretty;
  }

  @media screen and (max-width: 1400px) {
    .carousel .carousel-item {
      height: 400px;
    }

    .carousel-item img {
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
      min-height: 400px;
    }
  }
</style>

<PageLayout title="ITS4US Home">
  <Fragment slot="banner"> <img alt="ITS4US Logo" src={logo.src} style="max-height: 60px; clear: none" /> | ITS4US</Fragment>
  <main>
    <div class="row" >
      <div class="container-fluid">
        <div class="row">
          <h2 class="introH2">Providing safe, efficient, and affordable mobility options for everyone:<br>ITS4US – it's transportation for all of us.</h2>
          <div class="col-lg-12">
             <div class="center float-sm-end mr-3 img-fluid col-6-sm m-2  ratio ratio-16x9">
                <iframe class="rounded-4" src="https://www.youtube.com/embed/RLxx90VCmKk" 
                  title="ITS4US Deployment Program Overview" frameborder="0" 
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                  referrerpolicy="strict-origin-when-cross-origin" 
                  allowfullscreen></iframe>
            </div>
            <p>
              ITS4US leverages new and innovative technologies by integrating them within existing transportation systems, improving the lives of all travelers in our communities. Technology today is
              constantly changing and evolving. The ITS4US program is excited about deploying innovative solutions to transportation issues, including:
            </p>
            <ul>
              <li>Trip planning mobile and desktop web applications</li>
              <li>Safe intersection crossing applications</li>
              <li>Automated and connected vehicle technologies</li>
              <li>Wayfinding and indoor navigation applications</li>
              <li>Artificial Intelligence (AI) and Machine Learning (ML) technologies</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row" >
      <div class="col-lg-12">
        <h2 class="sideways blue">ITS4US Deployment Sites</h2>
        <div>
          <div class="front-frame georgia">
            <Image src={andre} alt="Pushbutton crosswalk signal for blind pedestrians" width={560} height={256} class="img-fluid rounded-4 mb-2" />
          </div>
          <div class="front-frame health">
            <Image src={waukee} alt="Pushbutton crosswalk signal for blind pedestrians" width={560} height={256} class="img-fluid rounded-4 mb-2" />
          </div>
          <div class="front-frame buffalo">
            <Image src={letitia} alt="Pushbutton crosswalk signal for blind pedestrians" width={560} height={256} class="img-fluid rounded-4 mb-2" /></div>
          </div>
          <div class="front-frame transportation">
            <Image src={Takashi} alt="Pushbutton crosswalk signal for blind pedestrians" width={560} height={256} class="img-fluid rounded-4 mb-2" />
          </div>
        </div>
     
      </div>
    </div>
    </main>
</PageLayout>
