---

interface Props {
name: string;
title: string;
contact: string;
profile_image: string;
department: string;
office: string;
class?: string;
}

const {
  name,
  title,
  contact,
  profile_image,
  department,
  office,
    class: className = "",
} = Astro.props;


---

<div class:list={`contact-card ${className}`}>
    <img class="mr-3" src={profile_image} alt={`${name}'s profile picture`} />
    <div>
        <h2>{name}</h2>
        <p>{title}</p>
        <p><i>{department}</i></p>
        <p><i>{office}</i></p>
        <div>
            <a href={`mailto:${contact}`} class="card-link" target="_blank" rel="noopener noreferrer">{contact}</a>
        </div>
    </div>
</div>