---

interface Props {
title: string;
type: string;
date: string;
link: string;
class?: string;
}

const {
  title,
  type,
  date,
  link,
  class: className = "",
} = Astro.props;



---

<div class:list={`h-50 resource-card ${className}`}>
    <div>
        <h2 class="card-title">{title}</h2>
        <div class="d-flex">
            <p class="card-type">{type} |</p>
            <p class="card-date">{date}</p>
        </div>
        <p class="card-link"><a href={link} target="_blank" rel="noopener noreferrer">{type}</a></p>
    </div>
</div>

<style>

.resource-card {
    border: 1px solid #DFDFDF;
    border-radius: 8px;
}

.card-title {
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
}

.card-link {
    background-color: white;
    padding: 4px 8px;
    border-radius: 4px;
    border-color: 1px solid #DFDFDF;
}

.resource-card .image {

}
</style>