---

interface Props {
title: string;
type: string;
date: string;
link: string;
class?: string;
}

const {
  title,
  type,
  date,
  link,
  class: className = "",
} = Astro.props;



---

<div class:list={`resource-card ${className}`}>
    <div>
        <h2 class="card-title">{title}</h2>
        <div class="d-flex">
            <p class="card-type">{type} |</p>
            <p class="card-date">{date}</p>
        </div>
        <p class="card-link"><a href={link} target="_blank" rel="noopener noreferrer">{type}</a></p>
    </div>
</div>