---
import Layout from "../_layout.astro";
import qWarnImage from "@/src/assets/images/pcb/peer-exchanges/queue-warning.png";
import modImage from "@/src/assets/images/pcb/peer-exchanges/mod.jpg";

import Card from "@/src/components/programs/card/Card.astro";
import CardBody from "@/src/components/programs/card/CardBody.astro";
import CardFooter from "@/src/components/programs/card/CardFooter.astro";
import CardHeader from "@/src/components/programs/card/CardHeader.astro";
import { Image } from "astro:assets";
import ProgramSection from "@/src/components/programs/ProgramSection.astro";
import arlingtonImage from "@/src/assets/images/pcb/peer-exchanges/arlington-mod.jpg";
import qwsImage from "@/src/assets/images/pcb/peer-exchanges/qws.png";
import Link from "@/src/components/Link.astro";

const resources = [
  {
    title: "Queue Warning Peer Exchange",
    description: "The U.S. Department of Transportation (USDOT) facilitated a series of virtual peer exchanges designed to share best practices and lessons learned in planning and deploying Queue Warning Systems (QWS).",
    image: qWarnImage,
    slug: "queue-warning"
  },
  {
    title: "Mobility on Demand (MOD) Peer Exchange",
    description: "The U.S. Department of Transportation (USDOT) facilitated interactive dialogues that brought together stakeholders to discuss key, targeted topics that impact MOD deployment and adoption.",
    image: modImage,
    slug: "mod"
  }
]
---
<style>
  .overview-section {
    display: flex;
    flex-direction: column;
    gap: var(--size);
  }
  .overview-image {
    border-radius: var(--border-radius);
  }

  @media (min-width: 992px) {
    .overview-section {
      flex-direction: row;
      align-items: start;
    }
    .overview-image {
      flex-basis: 40%;
    }
    .overview-text {
      flex-basis: 60%;
    }
  }
</style>
<style>
  .resource-card:hover {
    background: rgba(var(--color-brand-light), 0.5);
    box-shadow: var(--box-shadow-lg);
  }
  .resource-card-image {
    width: 100%;
    object-fit: cover;
    height: 220px;
  }

  .resource-card-header {
    overflow: visible;
    padding: 0;
  }
  .resource-card-footer {
    background: rgb(var(--color-gray-light));
    padding: 1.5rem;
  }

  .resource-card-body {
    flex-direction: column;
    align-items: flex-start;
    padding: 1.4rem;
    height: 100%;
  }

  .card-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--size);
  }

  @media (min-width: 992px) {
    .card-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>
<Layout>
  <main class="program-main">
    <ProgramSection>
      <h2 class="program-title-lg mb-4">
        Peer Exchanges
      </h2>
      <p class="program-text">
        The Peer Exchange program connects ITS practitioners with a specific area of expertise with other practitioners 
        needing assistance in that area. The U.S. DOT facilitates knowledge transfer to address ITS and V2X planning, 
        deployment and operational challenges. These exchanges may take the form of in-person or virtual exchanges either on or off-site. 
      </p>
      <p class="program-text">
        If your agency is interested in conducting a peer exchange, please contact the ITS PCB Program at <Link isExternal href="mailto:itspcb@dot.gov">itspcb@dot.gov</Link>.
      </p>
      <!-- <div class="card-grid">
        {resources.map(resource => (
          <Card href={`/resources/pcb/peer-exchanges/${resource.slug}`} shadow="none" radius="lg" class="resource-card">
            <CardHeader class="resource-card-header">
              <Image 
                src={resource.image}
                alt={resource.title}
                class="resource-card-image radius-none shadow"
              />
            </CardHeader>
            <CardBody class="resource-card-body">
              <h3 class="program-title-sm mb-2 text-foreground">
                {resource.title}
              </h3>
              <p class="program-text">
                {resource.description}
              </p>
            </CardBody>
          </Card>
        ))}
      </div> -->
    </ProgramSection>
    <!-- <ProgramSection>
      <div class="overview-section">
        <div class="overview-text">
          <h3 class="program-title-md">Queue Warning Peer Exchange</h3>
          <p class="program-text">
            The Queue Warning Peer Exchange, hosted by the U.S. Department of Transportation (USDOT), 
            brought together transportation professionals to discuss the implementation and benefits 
            of queue warning systems. These systems are designed to alert drivers of potential hazards 
            caused by stopped or slow-moving traffic ahead, enhancing safety and reducing the risk of rear-end collisions.
          </p>
          <p class="program-text">
            Participants shared experiences, challenges, and best practices in deploying queue warning technologies 
            across various jurisdictions, fostering a collaborative environment for knowledge exchange.
          </p>
        </div>
        <div class="overview-image">
          <Image src={qwsImage} alt="Queue Warning System" class="img-fluid radius-md shadow" />
        </div>
      </div>
    </ProgramSection>
    <ProgramSection>
      <div class="overview-section">
        <div class="overview-text">
          <h3 class="program-title-md">
            Mobility on Demand (MOD) Peer Exchange
          </h3>
          <p class="program-text">
            The Mobility on Demand (MOD) Peer Exchange Series, hosted by the U.S. Department 
            of Transportation (USDOT), facilitated interactive dialogues that brought together 
            stakeholders to discuss key, targeted topics that impact MOD deployment and adoption. 
          </p>
          <p class="program-text">
            This series aimed to support state-of-the-industry knowledge sharing 
            regarding topic-specific needs and lessons learned, as well as opportunities 
            for growth to advance MOD as a tool to support mobility and efficiency. 
            These virtual peer exchanges featured presentations by subject matter experts 
            and opportunities for attendees to engage with these experts as well 
            as other peers in the space.
          </p>
        </div>
        <div class="overview-image">
          <Image src={arlingtonImage} alt="Arlington MOD Vehicle" class="img-fluid radius-md shadow" />
        </div>
      </div>
    </ProgramSection> -->
  </main>
</Layout>