---
// To update this page add markdown files to the content > infographics
// The mark down files will should include a link to the image and a short disrription.
// remember to add the catagory in the markdown files frontmatter


import Infographic_Card from "../../../components/Card_Infographic.astro";

import { getCollection } from "astro:content";
import PageLayout from "@/src/layouts/PageLayout.astro";

const generalInfographics = await getCollection("infographics", ({ data }) => {
  return data.catagory === "General";
});
generalInfographics.sort((a, b) => a.data.title.localeCompare(b.data.title));

const dataCaptureInfographics = await getCollection("infographics", ({ data }) => {
  return data.catagory === "Data Capture";
});
dataCaptureInfographics.sort((a, b) => a.data.title.localeCompare(b.data.title));

const environmentInfographics = await getCollection("infographics", ({ data }) => {
  return data.catagory === "Environment";
});
environmentInfographics.sort((a, b) => a.data.title.localeCompare(b.data.title));

const mobilityInfographics = await getCollection("infographics", ({ data }) => {
  return data.catagory === "Mobility";
});
mobilityInfographics.sort((a, b) => a.data.title.localeCompare(b.data.title));

const roadWeatherInfographics = await getCollection("infographics", ({ data }) => {
  return data.catagory === "Road Weather";
});
roadWeatherInfographics.sort((a, b) => a.data.title.localeCompare(b.data.title));


const safetyInfographics = await getCollection("infographics", ({ data }) => {
  return data.catagory === "Safety";
});
safetyInfographics.sort((a, b) => a.data.title.localeCompare(b.data.title));

---

<PageLayout title="Infographics">
  <Fragment slot="banner">
    Infographics
  </Fragment>
  <div>
    <h2>General</h2>
    <ul>
      {generalInfographics.map((i) => <Infographic_Card infographic={i} />)}
    </ul>
  </div>
  <div>
    <h2>Data Capture</h2>
    <ul>
      {dataCaptureInfographics.map((i) => <Infographic_Card infographic={i} />)}
    </ul>
  </div>
  <div>
    <h2>Environment</h2>
    <ul>
      {environmentInfographics.map((i) => <Infographic_Card infographic={i} />)}
    </ul>
  </div>
  <div>
    <h2>Mobility</h2>
    <ul>
      {mobilityInfographics.map((i) => <Infographic_Card infographic={i} />)}
    </ul>
  </div>
  <div>
    <h2>Road Weather</h2>
    <ul>
      {roadWeatherInfographics.map((i) => <Infographic_Card infographic={i} />)}
    </ul>
  </div>
  <div>
    <h2>Safety</h2>
    <ul>
      {safetyInfographics.map((i) => <Infographic_Card infographic={i} />)}
    </ul>
  </div>
</PageLayout>