---
import Link from "@/src/components/Link.astro";
import Card from "@/src/components/programs/card/Card.astro";
import CardBody from "@/src/components/programs/card/CardBody.astro";
import CardHeader from "@/src/components/programs/card/CardHeader.astro";
import LibraryImage from "@/src/components/programs/LibraryImage.astro";
import ProgramLayout from "@/src/components/programs/ProgramLayout.astro";
import { getCollection } from "astro:content"

const collection = await getCollection("library");
const albums = collection.reduce((acc, item) => {
  const album = item.data.album;
  if (!acc[album]) {
    acc[album] = [];
  }
  acc[album].push(item);
  return acc;
}, {} as Record<string, typeof collection>);
---
<style lang="scss">
  .albums {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
  .album {
    border-bottom: 2px solid #cccccc;
    padding-bottom: 4rem;
  }
  .library-image {
    width: auto;
    height: 250px;
    object-fit: cover;
  }
  .card-header {
    padding: 0;
    margin: 0;
  }
  .library-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--size);
  }
</style>
<ProgramLayout title="Library">
  <div class="container albums">
    {Object.entries(albums).map(([albumName, items]) => {
      return (
        <div class="album">
          <h2>{albumName}</h2>
          <div class="library-grid">
            {items.map(item => (
              <Card>
                <CardHeader class="card-header">
                  <LibraryImage entry={item.id} class="library-image"/>
                </CardHeader>
                <CardBody>
                  <h3>{item.id.split("/").slice(-1)[0]}</h3>
                  <dl>
                    <dt>ID</dt>
                    <dd>{item.id}</dd>
                    <dt>Album</dt>
                    <dd>{item.data.album}</dd>
                    <dt>Citation</dt>
                    <dd><Link isExternal href={item.data.origin}>{item.data.citation}</Link></dd>
                    <dt>Alt</dt>
                    <dd>{item.data.alt || "MISSING"}</dd>
                  </dl>
                </CardBody>
              </Card>
            ))}
          </div>
        </div>
      )
    })}
  </div>
</ProgramLayout>