---
import SideBar from "../../../components/SideBar_News.astro";
import Default from '../../../layouts/Default.astro';
import News_Card from '../../../components/Card_News.astro'


import { getCollection, type CollectionEntry } from 'astro:content';
import type { Page } from 'astro';


export async function getStaticPaths({paginate}) {
    const allposts = await getCollection("posts");

    allposts.sort((a, b) => {
        const dateA = new Date(a.data.date);
        const dateB = new Date(b.data.date);

        return dateB.getTime() - dateA.getTime();
    });

    return paginate(allposts, {pageSize: 1})
};

type Props = {
  page: Page<CollectionEntry<'posts'>>;
};


const { page } = Astro.props;


---
<style>
.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #09638c;
  border-color: #09638c;
}
.page-item.active:hover .page-link:hover {
  z-index: 3;
  color: #fff;
  background-color: #009ad6;
  border-color: #009ad6;
}
.page-link {
    color: #09638c;
}

</style>


<Default title="ITS JPO">
    <div class="AboutBanner">
        <div class="AboutBannerTitle">
            <h1>Latest News from ITS JPO</h1>
        </div>
    </div>
    <div class="container-fluid h-100 bodyWrap">
        <div class="row h-100">
          <aside class="col-12 col-md-3 p-3 bg-light">
            <SideBar /></aside>
          <!-- InstanceEndEditable -->
          <!-- InstanceBeginEditable name="MainContent" -->
    
          <main class="col-9 MainContent">
            <div>

                {page.data.map((allposts) => <News_Card post={allposts}/>)}
                
               </div> 
               <nav aria-label="Page pagination for the news posts">
                <ul class="pagination">
                  {/* Previous button - only show if current page is greater than 1 */}
                  {page.currentPage > 1 && (
                    <li class="page-item">
                      <a class="page-link" href={`/news-info/news/${page.currentPage - 1 === 1 ? '' : page.currentPage - 1}`}>Previous</a>
                    </li>
                  )}
                  
                  {/* If there are more than 10 pages, show condensed pagination */}
                  {page.lastPage > 10 ? (
                    <>
                      {/* Always show the first page link */}
                      <li class={`page-item ${page.currentPage === 1 ? 'active' : ''}`}>
                        <a class="page-link" href="/news-info/news/">1</a>
                      </li>
                      
                      {/* Show ellipsis if current page is greater than 5 */}
                      {page.currentPage > 5 && <li class="page-item disabled"><span class="page-link">...</span></li>}
                      
                      {/* Generate page links around the current page */}
                      {Array.from({ length: 5 }).map((_, index) => {
                        const pageIndex = page.currentPage - 2 + index;
                        // Only show valid page indices
                        if (pageIndex > 1 && pageIndex < page.lastPage) {
                          return (
                            <li class={`page-item ${page.currentPage === pageIndex ? 'active' : ''}`} >
                              <a class="page-link" href={`/news-info/news/${pageIndex}`}>{pageIndex}</a>
                            </li>
                          );
                        }
                        return null;
                      })}
                      
                      {/* Show ellipsis if current page is less than last page minus 4 */}
                      {page.currentPage < page.lastPage - 4 && <li class="page-item disabled"><span class="page-link">...</span></li>}
                      
                      {/* Always show the last page link */}
                      <li class={`page-item ${page.currentPage === page.lastPage ? 'active' : ''}`}>
                        <a class="page-link" href={`/news-info/news/${page.lastPage}`}>{page.lastPage}</a>
                      </li>
                    </>
                  ) : (
                    // If there are 10 or fewer pages, show all page links
                    Array.from({ length: page.lastPage }).map((_, index) => (
                      <li class={`page-item ${page.currentPage === index + 1 ? 'active' : ''}`} >
                        <a class="page-link" href={`/news-info/news/${index === 0 ? '' : index + 1}`}>{index + 1}</a>
                      </li>
                    ))
                  )}
                  
                  {/* Next button - only show if current page is less than last page */}
                  {page.currentPage < page.lastPage && (
                    <li class="page-item">
                      <a class="page-link" href={`/news-info/news/${page.currentPage + 1}`}>Next</a>
                    </li>
                  )}
                </ul>
              </nav>
              
              
              
              
          </main>
        </div>
      </div>
   
       
</Default>