---
import { Image } from "astro:assets";
import { getImage } from "astro:assets";
import banner from "@/src/assets/images/automation/Automation_Banner.png";
import PageLayout from "@/src/layouts/PageLayout.astro";
import base_url from "@/src/lib/base_url";

import LinkBG1 from "../../assets/images/automation/USDOT_AVCP.jpg";
import LinkBG2 from "../../assets/images/automation/ITSAutomation_011221_FHWA.png";
import LinkBG3 from "../../assets/images/automation/ITSAutomation_011221_FMCSA.png";
import LinkBG4 from "../../assets/images/automation/TechnologyBus_011421.png";
import LinkBG5 from "../../assets/images/automation/ITSAutomation_011221_NHTSA-1.png";
import LinkBG6 from "../../assets/images/automation/ITSAutomation_011221_MARAD.jpg";

const LinkBG1const = await getImage({ src: LinkBG1 });
const LinkBG2const = await getImage({ src: LinkBG2 });
const LinkBG3const = await getImage({ src: LinkBG3 });
const LinkBG4const = await getImage({ src: LinkBG4 });
const LinkBG5const = await getImage({ src: LinkBG5 });
const LinkBG6const = await getImage({ src: LinkBG6 });
---

<link href="https://cdn.datatables.net/v/bs4/jq-3.7.0/dt-2.1.4/datatables.min.css" rel="stylesheet" />
<PageLayout title="Automation" bannerImage={banner}>
  <Fragment slot="banner"> Automation </Fragment>
  <main>
    <div class="row gx-5">
      <div class="col-lg-6">
        <h2 class="sideways blue">Featured Project</h2>
        <div class="row">
          <div class="col-lg-4">
            <img class="featuredProjectImage" src={base_url("/assets/images/automation/ReportCover.png")} style=" border:solid 1px #f6f6f6;" />
          </div>
          <div class="col-lg-7">
            <h3>
              <a class="externalLink" href="https://www.transit.dot.gov/sites/fta.dot.gov/files/2020-05/FTA-Report-No.-0161.pdf" target="_blank">
                HAZARD AND SAFETY ANALYSIS OF AUTOMATED TRANSIT BUS APPLICATIONS
              </a>
            </h3>
            <p class="read-more-wrap" style="padding-top:0px">
              This report presents the findings from an analysis that applies key concepts from Edition 2 of the ISO 26262 standard to a set of Level 0 to Level 2 driving automation systems in the
              context of a generic 40-ft transit bus.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <h2 class="sideways blue">Automation at DOT</h2>
        <div style="padding:10px; border:2px solid #e3e3e3; background-color: #f6f6f6;">
          <button class="automationButton externalLink_White" onclick=" window.open('https://www.transportation.gov/AV','_blank')" style={`background-image: url(${LinkBG1const.src});`}>
            Office of the Secretary of Transportation (OST)
          </button>
          <button class="automationButton externalLink_White" onclick=" window.open('https://highways.dot.gov/','_blank')" style={`background-image: url(${LinkBG2const.src});`}>
            Federal Highway Administration (FHWA)
          </button>

          <button class="automationButton externalLink_White" onclick=" window.open('https://www.fmcsa.dot.gov/','_blank')" style={`background-image: url(${LinkBG3const.src});`}>
            Federal Motor Carrier Safety Administration (FMCSA)
          </button>
          <button class="automationButton externalLink_White" onclick=" window.open('https://www.transit.dot.gov/','_blank')" style={`background-image: url(${LinkBG4const.src});`}>
            Federal Transit Administration (FTA)
          </button>

          <button class="automationButton externalLink_White" onclick=" window.open('https://www.nhtsa.gov/','_blank')" style={`background-image: url(${LinkBG5const.src});`}>
            National Highway Traffic Safety Administration (NHTSA)
          </button>
          <button class="automationButton externalLink_White" onclick=" window.open('https://www.maritime.dot.gov/','_blank')" style={`background-image: url(${LinkBG6const.src});`}>
            Maritime Administration (MARAD)
          </button>
        </div>
      </div>
    </div>
    <div>
      <h2 class="sideways blue">About the Automation Research Area</h2>
      <p class="read-more-wrap" style="padding-top:0px">
        The ITS JPO’s automation research is a major component of the U.S. DOT’s vision of supporting the safe, reliable, efficient, and cost-effective integration of automation into the broader,
        multimodal transportation system.
      </p>
      <p>
        The U.S. DOT recognizes that public and private sectors must work in partnership to improve the safety and security of automation technologies and address the concerns of the general public.
        ITS JPO’s role in this joint effort is to facilitate multimodal automation research and collaboration in safety, infrastructure interoperability, and policy analysis.
      </p>
      <p>
        ADAS means "Advanced Driver Assistance System," and refers to SAE Level 2. ADAS provides partial driving automation in the form of assisting an attentive driver. ADS means "Automated Driving
        System" and refers to SAE Levels 3-5 driving automation technologies. In a vehicle equipped with ADAS, the driver must continually monitor the driving environment, and always be prepared to
        provide steering, braking, and throttle inputs at all times. At its mature state, a vehicle equipped with ADS can perform the entire dynamic driving task on a sustained basis within a defined
        operating design domain (commonly referred to as the ODD) without driver involvement. For more information, please visit <a
          href="https://www.nhtsa.gov/vehicle-safety/automated-vehicles-safety"
        >
          NHTSA Automated Vehicles for Safety
        </a>
        .
      </p>

      <p class="read-more-wrap" style="padding-top:0px">
        By integrating these programs that focus on knowledge and technology transfer into the Accelerating ITS Deployment program area, the ITS JPO has created a “lab-to-market” capability that
        supports transitioning federally funded innovations into use. By combining these four activities, the ITS JPO is better able to coordinate actions and resources to help accelerate the
        deployment of ITS.
      </p>
      <p class="read-more-wrap" style="padding-top:0px"></p>
    </div>
    <div>
      <h2 class="sideways blue">Planned Automation Activities</h2>
      <div class="row" style="padding-bottom:20px; margin-bottom:30px; border-bottom-style:solid; border-block-width:1px; border-color:gainsboro;">
        <div class="col-lg-1 regions-graphic">
          <img src={base_url("/assets/images/automation/ITS_AutomationMockup_Safety.png")} alt="ITS Evaluation" width="100%" class="img-responsive" style="padding-bottom:20px;" />

          <!--This is a button for later inclustion, it will link to the specific awardeee's website-->

          <!--
                
                <a class="btn" href="https://www.its.dot.gov/" style="width:100%">Learn More</a>

              -->
        </div>
        <div class="col-lg-11">
          <h3>Safety</h3>
          <p>
            The ITS Deployment Evaluation Program will continue to generate data and analyses related to the benefits, costs, and extent of deployed ITS. These data have been instrumental in
            understanding trends in ITS technology deployment technologies and emerging priorities in agencies’ ITS deployment plans. The ITS JPO has been collecting data on the benefits, costs, and
            extent of deployed ITS for over 20 years. These unique data resources also allow the ITS JPO to continue to support Departmental goals related to evidence-driven and data-based decision
            making.
          </p>
          <p>
            Activities will improve understanding of safe automated vehicle operations and generate actionable data and decision support results for the broader stakeholder community. Human factors
            research, such as simulator or naturalistic driving studies, is fundamental to safety. The ITS JPO will partner with the National Highway Traffic Safety Administration (NHTSA), Federal
            Highway Administration (FHWA), and Federal Motor Carrier Safety Administration (FMCSA) to support this research. Together, we will continue to study automated vehicle safety issues related
            to transportation system management and operation, highway infrastructure, and vehicles.
          </p>
        </div>
      </div>
      <div class="row" style="padding-bottom:20px; margin-bottom:30px; border-bottom-style:solid; border-block-width:1px; border-color:gainsboro;">
        <div class="col-lg-1 regions-graphic">
          <img
            src={base_url("/assets/images/automation/ITS_AutomationMockup_Infrastructure.png")}
            alt="ITS Professional Capacity Building"
            width="100%"
            class="img-responsive"
            style="padding-bottom:20px;"
          />

          <!--This is a button for later inclustion, it will link to the specific awardeee's website-->

          <!---
            
            <a class="btn" href="https://www.its.dot.gov/" style="width:100%">Learn More</a>

      -->
        </div>
        <div class="col-lg-11">
          <h3>Infrastructure and Interoperability</h3>
          <p>
            Activities will support the safe interaction of automated vehicles among themselves, with other road users, and with highway infrastructure. The ITS JPO will partner with FHWA, FMCSA, the
            Maritime Administration, and the Federal Transit Administration to develop and test cooperative driving automation (CDA). CDA enables the machine-to-machine sharing of information that
            will allow roadway and port infrastructure users (e.g., vehicles, traffic signals, and mobile devices) to operate more efficiently and safely with a goal of improving transportation system
            performance and potentially reducing the costs of new construction by maximizing current infrastructure capacity limited today by human drivers. This program will support expanded
            stakeholder collaboration activities to develop and implement industry standards for CDA.
          </p>

          <!--These are the basis which should not be shown-->

          <!--

            <h2 style="text-align:center; padding-right:0;">Basis for Rating</h2>
            <p>
              <ul>
                <li>
                  Panelists highlighted this proposal’s significant effort to include the disability community in the early stages of project planning
                </li>
                <li>
                  The proposal offered many components of the complete trip segments. 
                </li>
                <li>
                  The project team demonstrated a clear understanding of the transportation challenges faced by their target populations. 
                </li>
                <li>
                  Overall, the proposal was rated this as a ”highly recommended” project that aligned with ITS4US objectives.
                </li>
              </ul>
            </p>

          -->
        </div>
      </div>
      <div class="row" style="padding-bottom:20px;">
        <div class="col-lg-1 regions-graphic">
          <img src={base_url("/assets/images/automation/ITS_AutomationMockup_Policy.png")} alt="ITS Architecture and Standards" width="100%" class="img-responsive" style="padding-bottom:20px;" />

          <!--This is a button for later inclustion, it will link to the specific awardeee's website-->

          <!---
            
            <a class="btn" href="https://www.its.dot.gov/" style="width:100%">Learn More</a>

        -->
        </div>
        <div class="col-lg-11">
          <h3>Policy Analysis</h3>
          <p>
            Activities will assess the impacts of automated vehicles on the general public and identify and evaluate critical issues related to automated vehicle adoption. Automated vehicle technology
            development continues to advance at a rapid pace, requiring a nimble and coordinated approach to policy development. The ITS JPO will lead Departmental research efforts in system dynamics
            (SD), which allows analysts to use simple causal interactions within a complex system to build a model that can demonstrate and quantify not-so-evident dynamic behavior. SD models are part
            of the strategic modeling toolbox, as they are aggregate, fast models that can provide essential insights for other strategic planning models. The ITS JPO will partner with FHWA and FMCSA
            to collect field data on CDA and other automated vehicle operations to improve ongoing analysis, modeling, and simulation development.
          </p>

          <!--These are the basis which should not be shown-->

          <!---
            
            <h2 style="text-align:center; padding-right:0;">Basis for Rating</h2>
            <p>
              <ul>
                <li>
                  The panelists were in agreement that the concept in this proposal could potentially produce a really high value application with broad geography.
                </li>
                <li>
                  The proposal was viewed to be be generalizable to other small transit agencies.
                </li>
                <li>
                  Panelists highlighted the benefits of using an open sourced data system, which was viewed as innovative for smaller transit organizations. 
                </li>
              </ul>
            </p>

          -->
        </div>
      </div>
    </div>
    <h2 class="sideways blue">Program Deliverables</h2>
    <div class="row">
      <div class="col-lg-12">
        <div class="accordion accordion-flush" id="deliverableAccordion">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#cda_accordion"><h3>Cooperative Driving Automation (CDA)</h3></button>
            </h2>
            <div id="cda_accordion" class="accordion-collapse collapse" data-bs-parent="#deliverableAccordion">
              <div class="card-body">
                <table class="table table-bordered" id="sortTable_CDA">
                  <thead>
                    <tr>
                      <th scope="col">Year</th>
                      <th scope="col">Project Title</th>
                      <th scope="col">Deliverable</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>2015</td>
                      <td>Cooperative Adaptive Cruise Control (CACC)</td>
                      <td>
                        <a href="https://rosap.ntl.bts.gov/view/dot/3580" target="_blank" rel="noopener noreferrer">
                          Vehicle-to-infrastructure Program Cooperative Adaptive Cruise Control: Final Report
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>2017</td>
                      <td>Cooperative Adaptive Cruise Control – Small Scale Test</td>
                      <td>
                        <a href="https://rosap.ntl.bts.gov/view/dot/56577" target="_blank" rel="noopener noreferrer">Cooperative Adaptive Cruise Control Small Scale Test- Phase 1: Final Report</a>
                      </td>
                    </tr>
                    <tr>
                      <td>2019</td>
                      <td>Traffic Optimization for Signalized Corridors (TOSCo) Phase 1 Project</td>
                      <td>
                        <a href="https://rosap.ntl.bts.gov/view/dot/50741" target="_blank" rel="noopener noreferrer">
                          Traffic Optimization for Signalized Corridors (TOSCo) Phase 1 Project: Final Report
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>2019</td>
                      <td>Traffic Optimization for Signalized Corridors (TOSCo) Phase 1 Project</td>
                      <td>
                        <a href="https://rosap.ntl.bts.gov/view/dot/50740" target="_blank" rel="noopener noreferrer">
                          Traffic Optimization for Signalized Corridors (TOSCo) Phase 1 Project: Traffic-level Simulation and Performance Analysis Report
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>2019</td>
                      <td>Traffic Optimization for Signalized Corridors (TOSCo) Phase 1 Project</td>
                      <td>
                        <a href="https://rosap.ntl.bts.gov/view/dot/50733" target="_blank" rel="noopener noreferrer">
                          Traffic Optimization for Signalized Corridors (TOSCo) Phase 1 Project: Cooperative Adaptive Cruise Control (CACC) Vehicle Build and Testing Report
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>2019</td>
                      <td>Traffic Optimization for Signalized Corridors (TOSCo) Phase 1 Project</td>
                      <td>
                        <a href="https://rosap.ntl.bts.gov/view/dot/50736" target="_blank" rel="noopener noreferrer">
                          Traffic Optimization for Signalized Corridors (TOSCo): Phase 1 Project Functional Safety Concept and Hazard Analysis
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>2019</td>
                      <td>Traffic Optimization for Signalized Corridors (TOSCo) Phase 1 Project</td>
                      <td>
                        <a href="https://rosap.ntl.bts.gov/view/dot/50739" target="_blank" rel="noopener noreferrer">
                          Traffic Optimization for Signalized Corridors (TOSCo) Phase 1: Project Infrastructure System Requirements and Architecture Specification
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>2019</td>
                      <td>Traffic Optimization for Signalized Corridors (TOSCo) Phase 1 Project</td>
                      <td>
                        <a href="https://rosap.ntl.bts.gov/view/dot/50738" target="_blank" rel="noopener noreferrer">
                          Traffic Optimization for Signalized Corridors (TOSCo) Phase 1 Project: Vehicle System Requirements and Architecture Specification
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>2019</td>
                      <td>Traffic Optimization for Signalized Corridors (TOSCo) Phase 1 Project</td>
                      <td>
                        <a href="https://rosap.ntl.bts.gov/view/dot/50734" target="_blank" rel="noopener noreferrer">
                          Traffic Optimization for Signalized Corridors (TOSCo) Phase 1 Project: Vehicle-level Simulation Report
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>2020</td>
                      <td>Crash Avoidance Metrics Partners (CAMP): Cooperative Automated Driving Systems (CADS) Collaboration Project</td>
                      <td>
                        <a href="https://www.campllc.org/cooperative-automated-driving-systems-cads-collaboration-project/" target="_blank" rel="noopener noreferrer">
                          Cooperative Automated Driving Systems Collaboration Project Website
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>2020</td>
                      <td>Cooperative Driving Automation</td>
                      <td>
                        <a href="https://www.fhwa.dot.gov/publications/research/operations/20063/index.cfm" target="_blank" rel="noopener noreferrer">
                          High-Level Concept of Operations: Examination of The Relationships Between Transportation Systems Management and Operations Strategies and Cooperative Driving Automation
                          Index
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>2020</td>
                      <td>Cooperative Driving Automation</td>
                      <td>
                        <a href="https://rosap.ntl.bts.gov/view/dot/54778" target="_blank" rel="noopener noreferrer">
                          Detailed Concept of Operations: Transportation Systems Management and Operations/Cooperative Driving Automation Use Cases and Scenarios
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>2020</td>
                      <td>Feasibility Study and Assessment of Communications Approaches for Real-Time Traffic Signal Applications Study</td>
                      <td>
                        <a href="https://rosap.ntl.bts.gov/view/dot/50751" target="_blank" rel="noopener noreferrer">
                          Feasibility Study and Assessment of Communications Approaches for Real-Time Traffic Signal Applications: Final Report
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>2020</td>
                      <td>Feasibility Study and Assessment of Communications Approaches for Real-Time Traffic Signal Applications Study</td>
                      <td>
                        <a href="https://rosap.ntl.bts.gov/view/dot/53935" target="_blank" rel="noopener noreferrer">
                          Feasibility Study and Assessment of Communications Approaches for Real-Time Traffic Signal Applications: Factsheet
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>2020</td>
                      <td>Feasibility Study and Assessment of Communications Approaches for Real-Time Traffic Signal Applications Study</td>
                      <td>
                        <a href="https://rosap.ntl.bts.gov/view/dot/53934" target="_blank" rel="noopener noreferrer">
                          Feasibility Study and Assessment of Communications Approaches for Real-Time Traffic Signal Applications: Tech Brief
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>2020</td>
                      <td>Feasibility Study and Assessment of Communications Approaches for Real-Time Traffic Signal Applications Study</td>
                      <td>
                        <a href="https://rosap.ntl.bts.gov/view/dot/54774" target="_blank" rel="noopener noreferrer">
                          Feasibility Study and Assessment of Communications Approaches for Real-Time Traffic Signal Applications Study: Supporting Datasets
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>2020</td>
                      <td>Feasibility Study and Assessment of Communications Approaches for Real-Time Traffic Signal Applications Study</td>
                      <td>
                        <a href="https://datahub.transportation.gov/Research-and-Statistics/Feasibility-Study-and-Assessment-of-Communications/dsgr-arn8" target="_blank" rel="noopener noreferrer">
                          Feasibility Study and Assessment of Communications Approaches for Real-Time Traffic Signal Applications Study Data
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>2021</td>
                      <td>Cooperative Automation Research: CARMA Proof-of-Concept Transportation System Management and Operations</td>
                      <td>
                        <a href="https://usdot-carma.atlassian.net/wiki/spaces/CRMTSMO/pages/2022801425/TSMO+UC+Testing+CARMA+Streets" target="_blank" rel="noopener noreferrer">
                          Use Case Testing for CARMA Streets Project Website
                        </a>
                      </td>

                      <tr>
                        <td>2021</td>
                        <td>Cooperative Automation Research: CARMA Proof-of-Concept Transportation System Management and Operations</td>
                        <td><a href="https://rosap.ntl.bts.gov/view/dot/57289" target="_blank" rel="noopener noreferrer">Use Case 1 - Basic Arterial Travel–Stop-Controlled Intersections</a></td>
                      </tr>
                      <tr>
                        <td>2021</td>
                        <td>Cooperative Automation Research: CARMA Proof-of-Concept Transportation System Management and Operations</td>
                        <td>
                          <a href="https://rosap.ntl.bts.gov/view/dot/58020" target="_blank" rel="noopener noreferrer">Use Case 2 - Trajectory optimization: fixed-time and actuated signals</a>
                        </td>
                      </tr>
                      <tr>
                        <td>2021</td>
                        <td>Cooperative Automation Research: CARMA Proof-of-Concept Transportation System Management and Operations</td>
                        <td><a href="https://rosap.ntl.bts.gov/view/dot/58024" target="_blank" rel="noopener noreferrer">Use Case 4 - Dynamic Lane Assignment</a></td>
                      </tr>
                      <tr>
                        <td>2021</td>
                        <td>Traffic Optimization for Signalized Corridors (TOSCo)</td>
                        <td>
                          <a href="https://www.campllc.org/traffic-optimization-for-signalized-corridors-tosco-phase-2-build-and-test/" target="_blank" rel="noopener noreferrer">
                            Traffic Optimization for Signalized Corridors (TOSCo) Phase 2 Website
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td>2021</td>
                        <td>Development of Vehicle-to-Infrastructure Applications (V2I) Program</td>
                        <td>
                          <a href="https://rosap.ntl.bts.gov/view/dot/60380" target="_blank" rel="noopener noreferrer">
                            Development of Vehicle-to-Infrastructure Applications Program Seventh Annual Report
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td>2022</td>
                        <td>Cooperative Automation Research: CARMA Proof-of-Concept Transportation System Management and Operations</td>
                        <td>
                          <a href="https://www.fhwa.dot.gov/publications/research/operations/21107/21107.pdf" target="_blank" rel="noopener noreferrer">
                            High-Level Framework of CARMA Proof-of-Concept TSMO Use Case Testing for CARMA Streets
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td>2022</td>
                        <td>Cooperative Driving Automation: Research into Automated Port Operations and Automated Commercial Motor Vehicle Operations</td>
                        <td>
                          <a href="https://rosap.ntl.bts.gov/view/dot/61470" target="_blank" rel="noopener noreferrer">Concept of Operations for Proof-of-Concept Automated Port Drayage Report</a>
                        </td>
                      </tr>
                      <tr>
                        <td>2022</td>
                        <td>Cooperative Driving Automation: Research into Automated Port Operations and Automated Commercial Motor Vehicle Operations</td>
                        <td><a href="https://rosap.ntl.bts.gov/view/dot/61469" target="_blank" rel="noopener noreferrer">Concept of Operations for Enhanced Automated Port Drayage Report</a></td>
                      </tr>
                      <tr>
                        <td>2022</td>
                        <td>Cooperative Driving Automation: Research into Automated Port Operations and Automated Commercial Motor Vehicle Operations</td>
                        <td><a href="https://rosap.ntl.bts.gov/view/dot/61967" target="_blank" rel="noopener noreferrer">Final Report: Proof-of-Concept Port Drayage Use Case</a></td>
                      </tr>
                      <tr>
                        <td>2022</td>
                        <td>Cooperative Driving Automation: Research into Automated Port Operations and Automated Commercial Motor Vehicle Operations</td>
                        <td>
                          <a href="https://www.youtube.com/watch?v=qEpeB2Ym_hs" target="_blank" rel="noopener noreferrer">Proof-of-Concept Demonstration for Automated Port Drayage (Video)</a>
                        </td>
                      </tr>
                      <tr>
                        <td>2022</td>
                        <td>Cooperative Automation Research: CARMA Proof-of-Concept Transportation System Management and Operations</td>
                        <td>
                          <a href="https://www.fhwa.dot.gov/publications/research/operations/22052/22052.pdf" target="_blank" rel="noopener noreferrer">
                            Use Case 3—Traffic Signal Optimization with CDA at Signalized Intersections
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td>2022</td>
                        <td>Traffic Optimization for Signalized Corridors (TOSCo) Phase 2 Project</td>
                        <td><a href="https://rosap.ntl.bts.gov/view/dot/66287" target="_blank" rel="noopener noreferrer">Modeling and Benefits Estimation - SH 105</a></td>
                      </tr>
                      <tr>
                        <td>2022</td>
                        <td>Traffic Optimization for Signalized Corridors (TOSCo) Phase 2 Project</td>
                        <td><a href="https://rosap.ntl.bts.gov/view/dot/65980" target="_blank" rel="noopener noreferrer">Modeling and Benefits Estimation - FM 1960</a></td>
                      </tr>
                      <tr>
                        <td>2022</td>
                        <td>Traffic Optimization for Signalized Corridors (TOSCo) Phase 2 Project</td>
                        <td>
                          <a href="https://rosap.ntl.bts.gov/view/dot/66288" target="_blank" rel="noopener noreferrer">Infrastructure System Requirements and Architecture Specification</a>
                        </td>
                      </tr>
                      <tr>
                        <td>2022</td>
                        <td>Traffic Optimization for Signalized Corridors (TOSCo) Phase 2 Project</td>
                        <td><a href="https://rosap.ntl.bts.gov/view/dot/64925" target="_blank" rel="noopener noreferrer">Functional Safety Concept and Hazard Analysis</a></td>
                      </tr>
                      <tr>
                        <td>2022</td>
                        <td>Traffic Optimization for Signalized Corridors (TOSCo) Phase 2 Project</td>
                        <td><a href="https://rosap.ntl.bts.gov/view/dot/65659" target="_blank" rel="noopener noreferrer">Final Report</a></td>
                      </tr>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#ams_accordion"><h3>Analysis/Modeling/Simulation (AMS)</h3></button>
            </h2>
            <div id="ams_accordion" class="accordion-collapse collapse" data-bs-parent="#deliverableAccordion">
              <div class="card-body">
                <table class="table table-bordered" id="sortTable_AMS">
                  <thead>
                    <tr>
                      <th scope="col">Year</th>
                      <th scope="col">Project Title</th>
                      <th scope="col">Deliverable</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>2015</td>
                      <td>AV Impact Assessment and System Dynamics</td>
                      <td>
                        <a href="https://rosap.ntl.bts.gov/view/dot/4298" target="_blank" rel="noopener noreferrer">Benefits Estimation Framework for Automated Vehicle Operations Report</a>
                      </td>
                    </tr>

                    <tr>
                      <td>2017</td>
                      <td>AV Impact Assessment and System Dynamics</td>
                      <td>
                        <a
                          href="https://higherlogicdownload.s3.amazonaws.com/AUVSI/14c12c18-fde1-4c1d-8548-035ad166c766/UploadedImages/2017/PDFs/Proceedings/Posters/Wednesday_Poster 2.pdf"
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          Where will Automated Vehicles Take Us? A Framework for Impact Assessment
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>2017</td>
                      <td>AV Impact Assessment and System Dynamics</td>
                      <td>
                        <a href="https://www.epa.gov/sites/default/files/2017-11/documents/potential_energy.pdf" target="_blank" rel="noopener noreferrer">
                          Potential Energy and Emissions Benefits of Vehicle Automation and Connectivity
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>2017</td>
                      <td>AV Impact Assessment and System Dynamics</td>
                      <td>
                        <a href="https://rosap.ntl.bts.gov/view/dot/43934" target="_blank" rel="noopener noreferrer">
                          A Framework for Evaluating Energy and Emission Impacts of Connected and Automated Vehicles through Traffic Microsimulations
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>2018</td>
                      <td>AV Impact Assessment and System Dynamics</td>
                      <td>
                        <a href="https://rosap.ntl.bts.gov/view/dot/34458" target="_blank" rel="noopener noreferrer">
                          Benefits Estimation Model for Automated Vehicle Operations: Phase 2 Final Report
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>2018</td>
                      <td>Development of an Analysis/Modeling/Simulation (AMS) Framework for V2I and Connected/Automated Vehicle Environment (partially funded by JPO)</td>
                      <td>
                        <a href="https://rosap.ntl.bts.gov/view/dot/39965" target="_blank" rel="noopener noreferrer">
                          Development of an Analysis/Modeling/Simulation (AMS) Framework for V2I and Connected/Automated Vehicle Environment
                        </a>
                      </td>
                    </tr>

                    <tr>
                      <td>2018</td>
                      <td>AV Impact Assessment and System Dynamics</td>
                      <td>
                        <a href="https://www.vtt.fi/inf/julkaisut/muut/2018/VTT-R-01054-18.pdf" target="_blank" rel="noopener noreferrer">
                          Key performance indicators for assessing the impacts of automation in road transportation: Results of the Trilateral key performance indicator survey
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>2018</td>
                      <td>AV Impact Assessment and System Dynamics</td>
                      <td>
                        <a
                          href="http://auvsilink.org/AVS2018/Posters/Scott Smith_Finding the Tipping Point A Sensitivity Analysis of Network Performance and Environmental Benefits of Cooperative Adaptive Cruise Control in Freeway D.pdf"
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          Finding the tipping point: A sensitivity analysis of network performance and environmental beneﬁts of cooperative adaptive cruise control in freeway driving
                        </a>
                      </td>
                    </tr>

                    <tr>
                      <td>2019</td>
                      <td>AV Impact Assessment and System Dynamics</td>
                      <td>
                        <a href="https://rosap.ntl.bts.gov/view/dot/41929" target="_blank" rel="noopener noreferrer">
                          Meta-Analysis of Adaptive Cruise Control Applications: Operational and Environmental Benefits
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>2019</td>
                      <td>AV Impact Assessment and System Dynamics</td>
                      <td>
                        <a href="https://rosap.ntl.bts.gov/view/dot/39013" target="_blank" rel="noopener noreferrer">
                          Systematic Review and Meta-Analysis of Adaptive Cruise Control Applications: Operational and Environmental Benefits
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>2020</td>
                      <td>AV Impact Assessment and System Dynamics</td>
                      <td>
                        <a href="https://rosap.ntl.bts.gov/view/dot/49812" target="_blank" rel="noopener noreferrer">Performance Comparisons of Cooperative and Adaptive Cruise Control Testing</a>
                      </td>
                    </tr>
                    <tr>
                      <td>2020</td>
                      <td>AV Impact Assessment and System Dynamics</td>
                      <td>
                        <a href="https://rosap.ntl.bts.gov/view/dot/55246" target="_blank" rel="noopener noreferrer">
                          Energy and Environmental Impacts of Automated Vehicles: Framework and Preliminary Results
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>2020</td>
                      <td>AV Impact Assessment and System Dynamics</td>
                      <td>
                        <a href="https://rosap.ntl.bts.gov/view/dot/48969" target="_blank" rel="noopener noreferrer">
                          Building Feedback into Modelling Impacts of Automated Vehicles: Developing a Consensus Model and Quantitative Tool
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>2020</td>
                      <td>AV Impact Assessment and System Dynamics</td>
                      <td>
                        <a href="https://zephyrtransport.org/events/2020-05-27-learning-system-dynamics/" target="_blank" rel="noopener noreferrer">
                          A System Dynamics Perspective for Transportation Planning Under Uncertainty Presentation
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>2020</td>
                      <td>AV Scenario Planning Models</td>
                      <td><a href="https://rosap.ntl.bts.gov/view/dot/66970" target="_blank" rel="noopener noreferrer">Incorporating Automated Vehicles into Scenario Planning Models</a></td>
                    </tr>
                    <tr>
                      <td>2021</td>
                      <td>AV Impact Assessment and System Dynamics</td>
                      <td>
                        <a href="https://zephyrtransport.org/events/2021-04-21-system-dynamics-applications/" target="_blank" rel="noopener noreferrer">
                          System Dynamics for Strategic Planning Under Technological Uncertainty Presentation
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>2021</td>
                      <td>AV Impact Assessment and System Dynamics</td>
                      <td>
                        <a href="https://rosap.ntl.bts.gov/view/dot/55247" target="_blank" rel="noopener noreferrer">
                          Automated Vehicle Impacts on the Transportation System: Using system dynamics to assess regional impacts
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>2022</td>
                      <td>AV Impact Assessment and System Dynamics</td>
                      <td>
                        <a href="https://scag.ca.gov/sites/main/files/file-attachments/mtf012622-system-dynamics-approach.pdf?1643247028" target="_blank" rel="noopener noreferrer">
                          Using a System Dynamics Approach to Understand the Long-term Effects of External Disruptions on Travel and Housing Decisions
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>2023</td>
                      <td>AV Impact Assessment and System Dynamics</td>
                      <td><a href="https://rosap.ntl.bts.gov/view/dot/66972" target="_blank" rel="noopener noreferrer">System Dynamics Models of Automated Vehicle Impacts</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="accordion accordion-flush" id="deliverableAccordion">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#freight_accordion"><h3>Freight</h3></button>
              </h2>
              <div id="freight_accordion" class="accordion-collapse collapse" data-bs-parent="#deliverableAccordion">
                <div class="card-body">
                  <table class="table table-bordered" id="sortTable_Freight">
                    <thead>
                      <tr>
                        <th scope="col">Year</th>
                        <th scope="col">Project Title</th>
                        <th scope="col">Deliverable</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>2019</td>
                        <td>Truck Platooning: Early Deployment Assessment – Independent Evaluation</td>
                        <td>
                          <a href="https://rosap.ntl.bts.gov/view/dot/43724" target="_blank" rel="noopener noreferrer">
                            Truck Platooning Early Deployment Assessment – Independent Evaluation: Requirements for Performance Measures Report
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td>2019</td>
                        <td>Exploratory Urban Freight</td>
                        <td>
                          <a href="https://rosap.ntl.bts.gov/view/dot/53938" target="_blank" rel="noopener noreferrer">
                            Emerging Automated Urban Freight Delivery Concepts: State of the Practice Scan Report
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td>2020</td>
                        <td>Truck Platooning: Early Deployment Assessment – Independent Evaluation</td>
                        <td>
                          <a href="https://rosap.ntl.bts.gov/view/dot/50551" target="_blank" rel="noopener noreferrer">
                            Truck Platooning Early Deployment Assessment – Independent Evaluation: Performance Measures for Evaluating Truck Platooning Field Deployments Report
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td>2021</td>
                        <td>Truck Platooning Impacts on Bridges, Phase I Structural Safety</td>
                        <td>
                          <a href="https://www.fhwa.dot.gov/bridge/loadrating/pubs/hif21043.pdf" target="_blank" rel="noopener noreferrer">
                            Truck Platooning Impacts on Bridges, Phase I Structural Safety: Final Report
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td>2021</td>
                        <td>Human Factors Truck Platooning Twinning with EC Ensemble</td>
                        <td>
                          <a href="https://www.ite.org/ITEORG/assets/File/ITEJ Published/2021/ITE_ITE_NOV2021.pdf" target="_blank" rel="noopener noreferrer">
                            Preparing for Safe and Successful Truck Platooning on Public Roads: Collaboration Between the United States and European Union Journal Article
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td>2021</td>
                        <td>Tech-celerate</td>
                        <td>
                          <a href="https://www.fmcsa.dot.gov/tech-celerate-now/adas-technology-videos" target="_blank" rel="noopener noreferrer">Advanced Driver-Assistance Systems Video Website</a>
                        </td>
                      </tr>
                      <tr>
                        <td>2021</td>
                        <td>Tech-celerate</td>
                        <td>
                          <a href="https://www.fmcsa.dot.gov/tech-celerate-now/truck-operators-guide-advanced-driver-assistance-systems" target="_blank" rel="noopener noreferrer">
                            Advanced Driver-Assistance Systems Guides and Brochures
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td>2022</td>
                        <td>Truck Platooning Early Deployment Assessment</td>
                        <td>
                          <a href="https://rosap.ntl.bts.gov/view/dot/66284" target="_blank" rel="noopener noreferrer">
                            Truck Platooning Early Deployment Assessment: Phase 2— Test and Evaluation Plan
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td>2022</td>
                        <td>Truck Platooning Early Deployment Assessment</td>
                        <td>
                          <a href="https://rosap.ntl.bts.gov/view/dot/66285" target="_blank" rel="noopener noreferrer">
                            Truck Platooning Early Deployment Assessment: Phase 2- Comprehensive Deployment Plan
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td>2022</td>
                        <td>Truck Platooning: Early Deployment Assessment – Independent Evaluation</td>
                        <td>
                          <a href="https://rosap.ntl.bts.gov/view/dot/64246" target="_blank" rel="noopener noreferrer">
                            Truck Platooning Early Deployment Assessment: Independent Evaluation– Expanded Analysis Plan
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="accordion accordion-flush" id="deliverableAccordion">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#human_accordion"><h3>Human Factors</h3></button>
                </h2>
                <div id="human_accordion" class="accordion-collapse collapse" data-bs-parent="#deliverableAccordion">
                  <div class="card-body">
                    <table class="table table-bordered" id="sortTable_Human">
                      <thead>
                        <tr>
                          <th scope="col">Year</th>
                          <th scope="col">Project Title</th>
                          <th scope="col">Deliverable</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>2019</td>
                          <td>Driver Acceptance of Vehicle Automation – Function-Specific Automation (Level 1) Applications</td>
                          <td>
                            <a href="https://rosap.ntl.bts.gov/view/dot/37529" target="_blank" rel="noopener noreferrer">
                              Driver Acceptance of Connected, Automation-Assisted Cruise Control- Experiment 1 Report
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td>2019</td>
                          <td>Vulnerable and Disabled Road Users: Considerations Inside and Outside the Vehicle</td>
                          <td>
                            <a href="https://lindseyresearch.com/wp-content/uploads/2019/12/NHTSA-2019-0083-0007-Automated_Driving_Systems_Research.pdf" target="_blank" rel="noopener noreferrer">
                              Vulnerable and Disabled Road Users: Considerations Inside and Outside the ADS Vehicle Presentation
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td>2020</td>
                          <td>Driver Acceptance of Vehicle Automation – Function-Specific Automation (Level 1) Applications</td>
                          <td>
                            <a href="https://journals.sagepub.com/doi/full/10.1177/0018720820974856" target="_blank" rel="noopener noreferrer">
                              The Effects of Vehicle Automation on Driver Engagement: The case of Adaptive Cruise Control and Mind Wandering
                            </a>
                          </td>
                        </tr>

                        <tr>
                          <td>2020</td>
                          <td>Driver Acceptance of Vehicle Automation – Function-Specific Automation (Level 1) Applications</td>
                          <td>
                            <a href="https://www.fhwa.dot.gov/publications/research/safety/20068/20068.pdf" target="_blank" rel="noopener noreferrer">
                              Tech Brief: To Alert or Assist: Comparing Effects of Different Lateral Support Systems on Lane-Keeping: Tech Brief
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td>2020</td>
                          <td>Investigating Key Automated Vehicle Human Factors Safety Issues related to Infrastructure</td>
                          <td>
                            <a href="https://rosap.ntl.bts.gov/view/dot/50934" target="_blank" rel="noopener noreferrer">
                              Investigating Key Automated Vehicle Human Factors Safety Issues Related to Infrastructure: Summary of Stakeholder Workshop
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td>2020</td>
                          <td>Investigating Key Automated Vehicle Human Factors Safety Issues related to Infrastructure</td>
                          <td>
                            <a href="https://safety.fhwa.dot.gov/newsletter/safetycompass/2020/summer/" target="_blank" rel="noopener noreferrer">
                              Stakeholder Workshop Results on Automated Vehicles, Safety, and Human Factors
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td>2021</td>
                          <td>Driver Acceptance of Vehicle Automation – Function-Specific Automation (Level 1) Applications</td>
                          <td>
                            <a href="https://www.fhwa.dot.gov/publications/research/safety/21017/index.cfm" target="_blank" rel="noopener noreferrer">
                              The Effects of Vehicle Automation on Driver Engagement: The Case of Adaptive Cruise Control and Mind Wandering: Tech Brief
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td>2021</td>
                          <td>Automated Driving Systems’ Communication of Intent with Shared Road Users</td>
                          <td>
                            <a href="https://rosap.ntl.bts.gov/view/dot/58325" target="_blank" rel="noopener noreferrer">
                              Automated Driving Systems’ Communication of Intent with Shared Road Users Report
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td>2021</td>
                          <td>Driver Expectations for System Control Errors, Driver Engagement, and Crash Avoidance in Level 2 Driving Automation Systems</td>
                          <td>
                            <a href="https://rosap.ntl.bts.gov/view/dot/54443" target="_blank" rel="noopener noreferrer">
                              Driver Expectations for System Control Errors, Driver Engagement, and Crash Avoidance in Level 2 Driving Automation Systems Report
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td>2021</td>
                          <td>Additional Considerations for Making ADS Vehicles Accessible to All Road Users</td>
                          <td>
                            <a href="https://www.gotostage.com/channel/5ccc5f7ff6c54186b471dbebf08a3d0b/recording/137b52ac49e04ef3823da037c8c50344/watch" target="_blank" rel="noopener noreferrer">
                              NHTSA Safety Research Portfolio Public Meeting: Fall 2021 Presentation
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td>2022</td>
                          <td>Driver Acceptance of Vehicle Automation – Function-Specific Automation (Level 1) Applications</td>
                          <td><a href="https://rosap.ntl.bts.gov/view/dot/66350" target="_blank" rel="noopener noreferrer">Preferred Following Distance as a Function of Speed Report</a></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="accordion accordion-flush" id="deliverableAccordion">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#policy_accordion"><h3>Policy Analysis</h3></button>
                  </h2>
                  <div id="policy_accordion" class="accordion-collapse collapse" data-bs-parent="#deliverableAccordion">
                    <div class="card-body">
                      <table class="table table-bordered" id="sortTable_Policy">
                        <thead>
                          <tr>
                            <th scope="col">Year</th>
                            <th scope="col">Project Title</th>
                            <th scope="col">Deliverable</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>2016</td>
                            <td>Automation Policy Analysis and Support</td>
                            <td>
                              <a href="https://rosap.ntl.bts.gov/view/dot/12260" target="_blank" rel="noopener noreferrer">
                                Review of Federal Motor Vehicle Safety Standards (FMVSS) for Automated Vehicles: Identifying Potential Barriers and Challenges for the Certification of Automated
                                Vehicles Using Existing FMVSS
                              </a>
                            </td>
                          </tr>
                          <tr>
                            <td>2018</td>
                            <td>Automation Policy Analysis and Support</td>
                            <td>
                              <a href="https://rosap.ntl.bts.gov/view/dot/35426" target="_blank" rel="noopener noreferrer">
                                Review of the Federal Motor Carrier Safety Regulations for Automated Commercial Vehicles: Preliminary Assessment of Interpretation and Enforcement Challenges,
                                Questions, and Gaps
                              </a>
                            </td>
                          </tr>
                          <tr>
                            <td>2022</td>
                            <td>Roadway Automated Driving Systems Integration</td>
                            <td>
                              <a href="https://ops.fhwa.dot.gov/publications/fhwahop22052/fhwahop22052.pdf" target="_blank" rel="noopener noreferrer">
                                Concept of Operations for Transportation Agencies: Version 1
                              </a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="accordion accordion-flush" id="deliverableAccordion">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                      <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#transit_accordion"><h3>Transit</h3></button>
                    </h2>
                    <div id="transit_accordion" class="accordion-collapse collapse" data-bs-parent="#deliverableAccordion">
                      <div class="card-body">
                        <table class="table table-bordered" id="sortTable_Transit">
                          <thead>
                            <tr>
                              <th scope="col">Year</th>
                              <th scope="col">Project Title</th>
                              <th scope="col">Deliverable</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>2020</td>
                              <td>Hazard and Safety Analysis of Automated Transit Bus Applications</td>
                              <td>
                                <a href="https://www.transit.dot.gov/sites/fta.dot.gov/files/2020-05/FTA-Report-No.-0161.pdf" target="_blank" rel="noopener noreferrer">
                                  Hazard and Safety Analysis of Automated Transit Bus Applications
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td>2018</td>
                              <td>Low-Speed Automated Shuttles</td>
                              <td>
                                <a href="https://rosap.ntl.bts.gov/view/dot/37060" target="_blank" rel="noopener noreferrer">Low-Speed Automated Shuttles: State of the Practice Final Report</a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="container-fluid">
              <h2 class="sideways blue">Additional Information</h2>
              <div class="row engagement-row">
                <div class="col-lg-12">
                  <div class="accordion accordion-flush" id="myAccordion">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne">
                          <img src={base_url("/assets/images/accelerating/ITS_AcceleratingDeploymentMockup_FAQs.png")} alt="FAQs" class="smallDropdownIcon" /><h3>Frequently Asked Questions (FAQs)</h3>
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                        <div class="card-body">
                          <h4>WHAT ARE THE BENEFITS OF AUTOMATION?</h4>
                          <p style="margin-bottom:0px;">Automated vehicles offer several potential benefits to our nation’s surface transportation system, including:</p>
                          <ul style="padding-bottom:10px;">
                            <li>Reducing the number of crashes caused by drivers or other conditions (e.g., weather and roadway conditions)</li>
                            <li>Reducing aggressive driving</li>
                            <li>Reducing travel time and improving travel time reliability</li>
                            <li>Expanding the reach of transportation modes to underserved users, as well as providing "first mile, last mile" connectivity service for all users</li>
                            <li>Increasing the efficiency and effectiveness of existing transportation systems.</li>
                          </ul>

                          <h4>WHAT WILL AUTOMATION EFFORTS LOOK LIKE FOR THE ITS JPO?</h4>
                          <p style="margin-bottom:30px;">
                            Responding effectively to automation requires a cross-modal effort, as the expertise on various aspects of automation resides in many parts of the U.S. DOT. Cross-cutting
                            tools—such as evaluation methods, data access and exchanges, and development of other decision-making tools—support these three areas.
                          </p>

                          <h4>HOW DOES THE ITS JPO PLAN TO ADVANCE AUTOMATION?</h4>
                          <p style="margin-bottom:0px;">The ITS JPO will advance automation by:</p>
                          <ul>
                            <li>Making human factors research results on interactions between users and automated technologies publicly available to deployers and policymakers</li>
                            <li>
                              Identifying, researching, and documenting needs related to infrastructure readiness to support automated vehicle testing, deployment, and integration for knowledge
                              transfer
                            </li>
                            <li>Effectively documenting and communicating the safety implications of truck platooning through testing and real-world assessment</li>
                            <li>
                              Identifying and documenting new roles for automation technology to address transportation challenges in mobility and availability of transportation (for instance, in
                              underserved communities)
                            </li>
                            <li>
                              Using real-world demonstrations of cooperative automation to illustrate system performance benefits and spur public- and private-sector long-term investment, adoption,
                              and use of these technologies
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwo">
                        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo">
                          <img src={base_url("/assets/images/accelerating/ITS_AcceleratingDeploymentMockup_ProgramResources.png")} alt="Resources" class="smallDropdownIcon" /><h3>
                            CONNECTED AND AUTOMATED VEHICLE EDUCATION VIDEOS
                          </h3>
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                        <div class="card-body">
                          <ul class="ritafont">
                            <li>
                              <a href="https://www.youtube.com/watch?v=fQ3B_KucEH8" target="_blank" rel="noopener noreferrer">
                                <b>Connected and Automated Vehicle Education Research Software (CAVERS)</b>
                              </a>
                            </li>
                            <li>
                              <a href="https://www.youtube.com/playlist?list=PL5_sm9g9d4T2MK54sZh5iV0vKKFuvgzBH" target="_blank" rel="noopener noreferrer">
                                <b>Carma Video Series</b>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</PageLayout>
<section slot="footer" class="download bg-primary text-center" id="research" style="padding-top:2em;">
  <div class="container-fluid">
    <div class="container">
      <div class="col-lg-12">
        <h2>Contacts</h2>
        <p style="padding-bottom:20px;">
          Please explore this site for a more detailed description of the program and progress. We will continue to upload relevant program information for public consumption as it becomes available.
          For inquiries regarding the program, please contact the USDOT Point of Contact below.
        </p>
        <p style="padding-top:20px; border-top-style:solid; border-color:honeydew; border-width:2px;">
          <b>Hyungjun Park, Ph.D.</b>
        </p>
        <p>Program Manager – Automation and AMS (Analysis, Modeling, and Simulation)</p>
        <p>ITS Joint Program Office</p>
        <p>202.366.9126</p>
        <p>
          <a class="email-footer" href="mailto:hyungjun.park@dot.govv">hyungjun.park@dot.gov</a>
        </p>
      </div>
    </div>
  </div>
</section>

<script is:inline src="https://cdn.datatables.net/v/bs4/jq-3.7.0/dt-2.1.4/datatables.min.js"></script>
<script is:inline>
  let sortTable_CDA = new DataTable("#sortTable_CDA");
  let sortTable_AMS = new DataTable("#sortTable_AMS");
  let sortTable_Freight = new DataTable("#sortTable_Freight");
  let sortTable_Human = new DataTable("#sortTable_Human");
  let sortTable_Policy = new DataTable("#sortTable_Policy");
  let sortTable_Transit = new DataTable("#sortTable_Transit");
</script>
