---
import PcbLayout from "./_pcb-layout.astro";
import Accordion from "@/src/components/Accordion.astro";
import AccordionItem from "@/src/components/AccordionItem.astro";
import Card from "@/src/components/pcb/Card.astro";
import { getEntry } from "astro:content";

const trainingCategories = await getEntry("microlearning", "microlearning");
---
<PcbLayout title="Microlearning Videos">
  <h2 class="pcb-title">Microlearning Videos</h2>
  <p>Access brief videos for quick, focused learning on ITS topics.</p>
  <Accordion id="accordion-1">
    {trainingCategories.data.map(({ title, trainings }, index) => (
      <AccordionItem title={title} index={index} showOnLoad={index === 0}>
        <div class="row gy-4">
          {trainings.map(training => (
            <div class="col-sm-6 col-md-12">
              <Card
                image={training.image} 
                title={training.title}
                description={training.description}
                href={training.url}
                orientation="responsive"
                imageSize="wide"
                isExternalLink={training.isExternal}
              />
            </div>
          ))}
        </div>
      </AccordionItem>
    ))}
  </Accordion>
</PcbLayout>