---
import Accordion from "@/src/components/Accordion.astro";
import PcbLayout from "./_pcb-layout.astro";
import AccordionItem from "@/src/components/AccordionItem.astro";
import Card from "@/src/components/pcb/Card.astro";
import { getEntry } from "astro:content";


const trainingCategories = await getEntry("trainings", "trainings");

const images = import.meta.glob<{ default: ImageMetadata }>("../../../assets/images/pcb/trainings/*.{jpeg,jpg,png,gif}");
---

<PcbLayout title="Trainings">
  <h2>Trainings</h2>
  <p>Discover available training sessions to enhance your ITS knowledge.</p>
  <Accordion id="accordion-1">
    {trainingCategories.data.map(({ title, trainings }, index) => (
      <AccordionItem title={title} index={index} showOnLoad={index === 0}>
        <div class="row gy-4">
          {trainings.map(training => (
            <div class="col-sm-6 col-lg-4">
              <Card
                title={training.title}
                description={training.description}
                href={""}
                image={training.image}
              />
            </div>
          ))}
        </div>
      </AccordionItem>
    ))}
  </Accordion>
</PcbLayout>