---
import { Image } from "astro:assets";

import Card from "@/src/components/programs/card/Card.astro";
import CardBody from "@/src/components/programs/card/CardBody.astro";
import CardFooter from "@/src/components/programs/card/CardFooter.astro";
import ProgramSection from "@/src/components/programs/ProgramSection.astro";

import Layout from "../_layout.astro";
import { academicResources } from "./resources";

---
<style>
  .resource-card:hover {
    background: rgba(var(--color-brand-light), 0.5);
    box-shadow: var(--box-shadow-lg);
  }

  .resource-card-image {
    width: 100%;
    object-fit: cover;
    height: 220px;
  }

  .resource-card-body {
    overflow: visible;
    padding: 0;
  }

  .resource-card-footer {
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    height: 100%;
  }

  .card-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--size)
  }

  @media (min-width: 992px) {
    .card-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>
<Layout>
  <main class="program-main">
    <ProgramSection>
      <h2 class="program-title-lg">
        Academic Resources
      </h2>
      <p class="program-text">
        Connect faculty and instructors with tools and materials to support students in preparing for careers in ITS. 
      </p>
      <div class="card-grid">
        {academicResources.map(resource => (
          <Card class="resource-card" href={`/resources/pcb/academic-resources/${resource.slug}`} radius="lg" shadow="none">
            <CardBody class="resource-card-body">
              <Image 
                alt={resource.title}
                class="resource-card-image radius-none shadow"
                src={resource.image}
              />
            </CardBody>
            <CardFooter class="resource-card-footer">
              <h3 class="program-title-sm text-foreground mb-2">
                {resource.title}
              </h3>
              <p class="program-text">
                {resource.description}
              </p>
            </CardFooter>
          </Card>
        ))}
      </div>
    </ProgramSection>
  </main>
</Layout>