---
import Default from "../layouts/Default.astro";
import base_url from "../lib/base_url";
import { Image } from "astro:assets";
import { getImage } from "astro:assets";
import HeroBG from "../assets/images/Hero3.jpeg";
import HeroBG2 from "../assets/images/Hero-Image-02.jpg";
import HeroBG3 from "../assets/images/Hero-Image-03.jpg";
import spotlight1 from "../assets/images/Spotlight1.png";
import spotlight2 from "../assets/images/Spotlight2.png";
import spotlight3 from "../assets/images/Spotlight3.png";
import spotlight4 from "../assets/images/Spotlight4.png";
import spotlight5 from "../assets/images/Spotlight5.png";
import spotlight6 from "../assets/images/Spotlight6.png";
import spotlight7 from "../assets/images/Spotlight7.png";
import spotlight8 from "../assets/images/Spotlight8.png";
import spotlight9 from "../assets/images/Spotlight9.png";
import spotlight10 from "../assets/images/Spotlight10.png";
import spotlight12 from "../assets/images/Spotlight12.png";

import BaseLayout from "../layouts/BaseLayout.astro";

const optimizedBG = await getImage({ src: HeroBG2 });
---

<style>
  .hero-container {
    background-position: center;
    background-size: cover;
    padding: 50px 0 100px 0;
  }

  .HotTopicBlock img {
    width: 100%;
    height: auto;
  }
  h2 {
    text-wrap: pretty;
  }
</style>
<BaseLayout title="ITS JPO">
  <div class="bodyWrap">
    <div class="hero-container" style={`background-image: url(${optimizedBG.src});`}>
      <div class="container">
        <div class="d-flex align-items-center p-4 col-md-7" style="background-color: rgba(7, 46, 85, 0.85)">
          <div class="text-white">
            <h2 class="mb-4 fs-2">Intelligent Transportation Systems Joint Program Office</h2>
            <p class="mb-4 fs-4 text-white">
              The Intelligent Transportation Systems Joint Program Office (ITS JPO) seeks to transform the way society moves. Explore our website for information on research and deployments that
              advance the use of ITS to move people and goods more safely and efficiently.
            </p>
            <a class="btn btn-outline-light btn-lg text-dark m-0 fs-4" href={base_url("/about/its_jpo/")} role="button">LEARN MORE ABOUT THE ITS JPO</a>
          </div>
        </div>
      </div>
    </div>

    <div class="container HomepageContainter">
      <div class="row">
        <div class="col-12">
          <div class="TitleWrapper">
            <div class="TitleHeader">
              <h2 class="text-nowrap">Spotlight on ITS Research Areas</h2>
            </div>

            <div class="TitleBar"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3">
          <a href={base_url("/research-areas/Artificial-Intelligence")}>
            <div class="HotTopicBlock">
              <div class="HotTopicTitleBanner">
                Artificial Intelligence (AI)
              </div>
              <Image src={spotlight9} alt="Artificial Intelligence (AI)" />
            </div>
          </a>
        </div> 

        <div class="col-lg-3">
          <a href={base_url("/research-areas/Automation-Program")}>
            <div class="HotTopicBlock">
              <div class="HotTopicTitleBanner">Automation Program</div>
              <Image src={spotlight1} alt="Automation Program" />
            </div>
          </a>
        </div>

        <div class="col-lg-3">
          <a href={base_url("/research-areas/Complete-Streets-AI")}>
            <div class="HotTopicBlock">
              <div class="HotTopicTitleBanner">
                Complete Streets Artificial Intelligence
              </div>
              <Image src={spotlight6} alt="Complete Streets Artificial Intelligence" />
            </div>
          </a>
        </div>

        <div class="col-lg-3">
          <a href={base_url("/research-areas/Digital-Infrastructure")}>
            <div class="HotTopicBlock">
              <div class="HotTopicTitleBanner">
                Digital Infrastructure
              </div>
              <Image src={spotlight8} alt="Digital Infrastructure" />
            </div>
          </a>
        </div>

        <div class="col-lg-3">
          <a href={base_url("/research-areas/Interoperable-Connectivity-Spectrum")}>
            <div class="HotTopicBlock">
              <div class="HotTopicTitleBanner">
                Interoperable Connectivity/Spectrum
              </div>
              <Image src={spotlight12} alt="Interoperable Connectivity/Spectrum" />
            </div>
          </a>
        </div>
        
        <div class="col-lg-3">
          <a href={base_url("/research-areas/Intersection-Safety-Challenge")} >
            <div class="HotTopicBlock">
              <div class="HotTopicTitleBanner">
                Intersection Safety Challenge
              </div>
              <Image src={spotlight3} alt="Intersection Safety Challenge" />
            </div>
          </a>
        </div>

        <div class="col-lg-3">
          <a href={base_url("/research-areas/ITS4US")} >
            <div class="HotTopicBlock">
              <div class="HotTopicTitleBanner">
                ITS4US
              </div>
              <Image src={spotlight5} alt="ITS4US" />
            </div>
          </a>
        </div>

        <div class="col-lg-3">
          <a href={base_url("/research-areas/V2X-Deployment")} >
            <div class="HotTopicBlock">
              <div class="HotTopicTitleBanner">
                V2X Deployment
              </div>
              <Image src={spotlight4} alt="V2X Deployment" />
            </div>
          </a>
        </div>

      
      </div>
    </div>
  </div>
</BaseLayout>
