---
import PcbLayout from "./_pcb-layout.astro";
import Accordion from "@/src/components/Accordion.astro";
import AccordionItem from "@/src/components/AccordionItem.astro";
import Card from "@/src/components/pcb/Card.astro";
import { getEntry } from "astro:content";

const trainingCategories = await getEntry("trainings", "microlearnings");

const images = import.meta.glob<{ default: ImageMetadata }>("../../../assets/images/pcb/microlearning/*.{jpeg,jpg,png,gif}");
---

<PcbLayout title="Microlearning Videos">
  <h2>Microlearning Videos</h2>
  <p>Access brief videos for quick, focused learning on ITS topics.</p>
  <div class="mx-4">
    <Accordion id="accordion-1">
      {trainingCategories.data.map(({ title, trainings }, index) => (
        <AccordionItem title={title} index={index} showOnLoad={index === 0}>
          <div class="d-flex flex-column gap-4">
            {trainings.map(training => (
              <Card
                image={images[`../../../assets/images/pcb/microlearning/${training.image?.src}`]()}
                title={training.title}
                description={training.description}
                href={training.url}
                orientation="horizontal"
                height={150}
                imageWidth={250}
                isExternalLink={training.isExternal}
              />
            ))}
          </div>
        </AccordionItem>
      ))}
    </Accordion>
  </div>
</PcbLayout>