---
import { Image } from "astro:assets";
import andre from "@/src/assets/images/its4us/andre.png";
import letitia from "@/src/assets/images/its4us/letitia.png";
import takashi from "@/src/assets/images/its4us/Takashi.png";
import waukee from "@/src/assets/images/its4us/waukee.png";

interface Props {
	title: string;
	alt: string;
    img: string;
    color: string;
	href: string;
    logo: string;
    logo_alt: string;
}

const { href, title, alt, img, color, logo, logo_alt } = Astro.props;

const imageByKey = {
  andre,
  letitia,
  takashi,
  waukee,
} as const;

const normalizeImageKey = (value: string) =>
  value
    .trim()
    .replace(/^.*[\\/]/, "")
    .replace(/\.[^/.]+$/, "")
    .toLowerCase();

const normalizedKey = img ? normalizeImageKey(img) : "";
const selectedImage = (imageByKey as Record<string, (typeof andre)>)[normalizedKey];
---

<style>
  time {
    font-size: small;
  }
  .btn {
    background-color: #09638c;
  }
  .btn:hover {
    background-color: #009ad6;
  }
  h2 {
    text-wrap: balance
  }

  .card-wave {
    position: relative;
    display: inline-block;
    overflow: hidden;
    max-height: 256px;
  }

  .card-wave-media {
    position: relative;
    z-index: 1;
    max-height: 256px;

  }

  .card-wave-img {
    display: block;
    max-width: 100%;
    position: relative;
    z-index: 1;
    transform: scale(1);
    transform-origin: center;
    transition: transform 200ms ease-in-out;
  }

  .card-wave:hover .card-wave-img {
    transform: scale(1.05);
  }

  .card-title {
    position: relative;
    z-index: 3;
    color: white;
    font-size: 1.5rem;
    margin: 0;
    text-transform: capitalize;
    margin-bottom: 1rem;
  }

  .front-frame {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    pointer-events: none;
    z-index: 2;
    display: flex;
    align-items: flex-end;
    padding: 0 1rem 0.75rem;
  }

  .front-frame::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    clip-path: polygon(100% 100%, 0% 100%, 0% 24.73%, 6.67% 24.25%, 13.33% 22.84%, 20% 20.64%, 26.67% 17.82%, 33.33% 14.62%, 40% 11.33%, 46.67% 8.21%, 53.33% 5.54%, 60% 3.55%, 66.67% 2.4%, 73.33% 2.19%, 80% 2.94%, 86.67% 4.59%, 93.33% 7%, 100% 9.95%);
  }
  
  .front-frame::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0;
    clip-path: polygon(100% 100%, 0% 100%, 0% 9.15%, 6.67% 5.24%, 13.33% 2.14%, 20% .51%, 26.67% .68%, 33.33% 2.61%, 40% 5.91%, 46.67% 9.89%, 53.33% 13.72%, 60% 16.59%, 66.67% 17.91%, 73.33% 17.41%, 80% 15.18%, 86.67% 11.7%, 93.33% 7.69%, 100% 3.98%);
  }

  .front-frame.orange::before {

  }
  .front-frame.orange::after {

  }

  .front-frame.blue::before {
    background: #2166b2;
  }
  .front-frame.blue::after {
    background: #0084c3;
  }

  .front-frame.green::before {

  }
  .front-frame.green::after {

  }

  .front-frame.purple::before {

  }
  .front-frame.purple::after {

  }
  
</style>

<div>
     <a href={href} class="card-wave rounded-4">
      <div class="card-wave-media">
        {
          selectedImage ? (
            <Image src={selectedImage} alt={alt} width={560} height={256} class="img-fluid card-wave-img" />
          ) : (
            <img src={img} alt={alt} width={560} height={256} class="img-fluid card-wave-img" />
          )
        }
      </div>
        <div class={`front-frame ${color}`}>
            <h3 class="card-title">{title}</h3>
            <img src={logo} alt={logo_alt} width={60} height={60} class="ml-2" />
        </div>
    </a>
</div>
