---
import { Image } from 'astro:assets';
import USDOTLogo from '../assets/images/US_DepartmentofTransportation-Logo.png';
import facebookIcon from '../assets/images/Facebook.png';
import instgramIcon from '../assets/images/Instagram.png';
import twitterIcon from '../assets/images/Twitter.png';
import inDeedIcon from '../assets/images/inDeed.png';
import base_url from '../lib/base_url';
---

<div class="container-fluid Topbar">
  <div class="row">
    <div class="col-lg-10">
      <a href="https://www.transportation.gov/">
        <Image src={USDOTLogo} class="dotlogo" alt="U.S Department of Transportation Logo" />
      </a>
    </div>
    <div class="col-lg-2">
      <div class="row" style="padding-top: 8px">
        <div class="col-2"></div>
        <div class="col-2">
          <a href="https://www.facebook.com/USDOTResearch" target="_blank">
            <Image src={facebookIcon} class="SocialMediaIcon" alt="Facebook Logo" />
          </a>
        </div>
        <div class="col-2">          
          <Image src={instgramIcon} class="SocialMediaIcon" alt="Instagram Logo" />
        </div>
        <div class="col-2">
          <Image src={twitterIcon} class="SocialMediaIcon" alt="Twiter Logo" />\
        </div>
        <div class="col-2">
          <Image src={inDeedIcon} class="SocialMediaIcon" alt="LinkedIn Logo" />
        </div>
        <div class="col-2"></div>
      </div>
    </div>
  </div>
</div>
<div class="HeaderBar">
  <div class="row">
    <div class="col-lg-10">
      <p class="siteheader">
        <a rel="preload" href={base_url("/")} style="text-decoration: none; color: white">
          Intelligent Transportation Systems
          <br />
          Joint Program Office
        </a>
      </p>
    </div>
  </div>
</div>

<style>
  a {
    transition: all .35s
  }
 .dotlogo{
    max-height: 25px;
    object-fit: contain;
    object-position: 0%;
    padding-right: 10px;
    margin-top: 14px;
    margin-left: 30px;
  }
</style>