---
import base_url from '../lib/base_url';
import { navigation } from "../lib/navigation";

const pathname = new URL(Astro.request.url).pathname;
---
<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-marginbottom">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarToggleExternalContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {navigation.map(link => (
        <li class:list={["nav-item dropdown", {"activeMenu": pathname.includes(link.url)}]}>
          <a 
            class="nav-link dropdown-toggle" 
            href={base_url(link.url)} 
            id="navbarDropdown" 
            role="button" 
            data-toggle="dropdown" 
            aria-haspopup="true" 
            aria-expanded="false"
          >
            {link.name}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {link.pages.map(pageLink => pageLink.isExternal ? (
              <a class="dropdown-item externalLink" href={base_url(pageLink.url)} target="_blank" rel="noopener noreferrer">
                {pageLink.name}
              </a>
            ) : (
              <a class="dropdown-item" href={base_url(pageLink.url)}>
                {pageLink.name}
              </a>
            ))}
          </div>
        </li>
      ))}
    </ul>
  </div>
</nav>

<style>
  a {
    transition: all .35s
  }
</style>