---
import ProgramSection from "@/src/components/programs/ProgramSection.astro";
import Layout from "../_layout.astro";
import Card from "@/src/components/programs/card/Card.astro";
import CardBody from "@/src/components/programs/card/CardBody.astro";
import CardFooter from "@/src/components/programs/card/CardFooter.astro";
// import { Image } from "astro:assets";
import Link from "@/src/components/Link.astro";
import LibraryImage from "@/src/components/programs/LibraryImage.astro";
import { getCollection } from "astro:content";
import DocxIcon from "@/src/components/programs/icons/DocxIcon.astro";
import PdfIcon from "@/src/components/programs/icons/PdfIcon.astro";
import PptIcon from "@/src/components/programs/icons/PptIcon.astro";

const modules = await getCollection("pcbModules").then(modules => modules.sort((a, b) => (a.data.order || 0) - (b.data.order || 0)));

---
<style>
  .resource-card:hover {
    background: rgba(var(--color-brand-light), 0.5);
    box-shadow: var(--box-shadow-lg);
  }

  .resource-card-image {
    width: auto;
    height: 250px;
    object-fit: cover;
  }

  .resource-card-body {
    overflow: visible;
    padding: 0;
  }

  .resource-card-footer {
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    height: 100%;
  }

  .card-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--size)
  }

  @media (min-width: 992px) {
    .card-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>

<!-- Overview Section -->
<style>
  .competitions-section {
    display: flex;
    flex-direction: column;
    gap: var(--size);
  }

  .video {
    border-radius: var(--radius-lg);
  }

  @media (min-width: 992px) {
    .competitions-section {
      flex-direction: row;
      align-items: center;
    }
    .competitions-image {
      flex-basis: 40%;
    }
    .competitions-text {
      flex-basis: 60%;
    }
    
  }
</style>

<style>
  .career-areas-section {
    display: flex;
    flex-direction: column-reverse;
    gap: var(--size);
  }

  @media (min-width: 992px) {
    .career-areas-section {
      flex-direction: row;
      align-items: center;
    }
    .career-areas-image {
      flex-basis: 30%;
    }
    .career-areas-text {
      flex-basis: 60%;
    }
  }

</style>

<style>
  .document-type-badge {
    background: #ffffff;
    border: 1px solid var(--border-light);
    border-radius: 1rem;
    font-size: 0.9rem;
    height: 24px;
    padding: 0 0.5rem;
    display: inline;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    white-space: nowrap;
  }
</style>

<Layout>
  <main class="program-main">
    <ProgramSection size="small">
      <h2 class="program-title-lg mb-4">
        Early Career Development Resources
      </h2>
      <p class="program-text">
        Intelligent Transportation Systems (ITS) provide promising solutions for 
        improving safety, mobility, and efficiency in the transportation network. 
        Engaging current and prospective early career professionals in transportation-related 
        fields provides tools to think critically and develop novel approaches 
        for the most pressing transportation issues and needs.
      </p>
    </ProgramSection>
    <ProgramSection size="small" class="pb-5" color="gray">
      <h2 class="program-title-md mb-4">
        ITS Short Course Instructor Kit Modules
      </h2>
      <p class="program-text">
        The ITS Short Course Instructor Kit Modules are freestanding classes (or training components) 
        that provide structured content to enhance participants' knowledge of ITS in <strong>90 minutes or less</strong>. 
        Each module focuses on a specific ITS theme, concept , or technology. 
        Instructor and participant materials focus on ensuring an engaging experience 
        supporting the module outcomes. These kits are designed to be flexible. Use them as freestanding classes, 
        incorporate them into internal "Lunch & Learn" sessions, or use them as foundational components 
        for larger professional development programs. ITS Short Course Instructor Kit materials provided 
        for each module include an
      </p>
      <ul class="program-list">
        <li>
          <strong>Instructor Guide</strong> containing the purpose of the module, learning outcomes,
          intended target audience, intended class size, and detailed instruction notes. 
        </li>
        <li>
          <strong>Presentation Slides</strong> to be used by the instructor during module delivery.
        </li>
        <li>
          <strong>Participant Materials</strong> containing items such as handouts,
          reference materials, and activity instructions.
        </li>
      </ul>
      <p class="program-text">
        Ready to lead your next session? Browse the available modules and their materials below.
      </p>
      <div class="card-grid mt-4">
        {modules.map(module => (
          <Card class="resource-card" href={`/resources/pcb/early-career/${module.id}`} radius="lg" shadow="none">
            <CardBody class="resource-card-body">
              {/* <Image 
                alt={resource.title}
                class="resource-card-image radius-none shadow"
                src={resource.image}
              /> */}
              <LibraryImage entry={module.data.image} class="resource-card-image" />
            </CardBody>
            <CardFooter class="resource-card-footer">
              <h3 class="program-title-sm text-foreground mb-2">
                {module.data.title}
              </h3>
              <p class="program-text">
                {module.data.description}
              </p>
            </CardFooter>
          </Card>
        ))}
      </div>
    </ProgramSection>
    <!-- <ProgramSection>
      <div class="">
        <div class="ratio ratio-1x1 mx-auto" style="max-width: 512px;">
          <LibraryImage
            entry="pcb/resources/career-areas"
          />
        </div>
        <div class="">
          <h2 class="program-title-md mb-4">
            ITS Careers
          </h2>
          <p class="program-text">
            Intelligent Transportation Systems (ITS) offer a powerful, cost-effective approach 
            to improving roadway safety and efficiency, especially when traditional infrastructure expansion 
            is either impractical or fails to meet longer-term needs. Their ability to address complex challenges 
            are driving substantial growth in the ITS field as transportation systems evolve and new demands emerge. 
            Supporting this growth requires a skilled ITS workforce responsible for planning, designing, implementing, 
            and operating these new systems to deliver everyday benefits to American travelers.
            At the same time, workforce needs are continually evolving as emerging technologies like automation, artificial intelligence, 
            and shared mobility transform the transportation landscape.
          </p>
          <p class="program-text">
             The Career Opportunities in ITS White Paper 
            provides a high-level overview of ITS career opportunities organized by topic areas of interest (e.g., engineering, planning, policy), 
            highlighting both established and emerging roles across employment sectors.
          </p>
          <div class="mt-4">
            <Link variant="button" href="https://rosap.ntl.bts.gov/view/dot/89169" isExternal>
              View PDF
            </Link>
          </div>
        </div>
        
      </div>
    </ProgramSection> -->
    <ProgramSection>
      <div class="career-areas-section">
        <div class="career-areas-text">
          <h2 class="program-title-md mb-4">
            ITS Careers
          </h2>
          <p class="program-text">
            Intelligent Transportation Systems (ITS) offer a powerful, cost-effective approach 
            to improving roadway safety and efficiency, especially when traditional infrastructure expansion 
            is either impractical or fails to meet longer-term needs. Their ability to address complex challenges 
            are driving substantial growth in the ITS field as transportation systems evolve and new demands emerge. 
            Supporting this growth requires a skilled ITS workforce responsible for planning, designing, implementing, 
            and operating these new systems to deliver everyday benefits to American travelers.
            At the same time, workforce needs are continually evolving as emerging technologies like automation, artificial intelligence, 
            and shared mobility transform the transportation landscape.
          </p>
          <p class="program-text">
            The Career Opportunities in ITS White Paper 
            provides a high-level overview of ITS career opportunities organized by topic areas of interest (e.g., engineering, planning, policy), 
            highlighting both established and emerging roles across employment sectors.
          </p>
          <div class="mt-4">
            <Link variant="button" href="https://rosap.ntl.bts.gov/view/dot/89169" isExternal>
              View PDF
            </Link>
          </div>
        </div>
        <div class="career-areas-image ratio ratio-1x1 mx-auto">
          <LibraryImage
            entry="pcb/resources/career-areas"
          />
        </div>
      </div>
      <!-- COMING SOON: Resources still in development -->
      <!-- <h3 class="program-title-sm text-center mb-4">
        Explore Opportunities (UPDATE TO MAKE IT LESS JOB SEARCH-FOCUSED)
      </h3>
      <p>
        Explore highlights of example ITS jobs through the interactive trading cards shown below. ITS jobs are grouped by ITS career areas. Select the pack you want to open to see each
        potential example job opportunity within the career area. You can select any card to flip it over and view the back, which contains further information about the potential role (i.e.,
        skills and responsibilities).
      </p>
      <div style="background: #ccc;" class="ratio ratio-21x9 rounded competitions-image"/>  -->
     
    </ProgramSection>
    <ProgramSection color="gray">
      <div class="competitions-section" style="padding-top: 2rem; padding-bottom: 2rem; gap: 4rem;">
        <div class="ratio ratio-16x9 competitions-image shadow-md">
          <LibraryImage
            entry="pcb/other/ttt-2025"
          />
        </div>
        <div class="competitions-text">
          <h2 class="program-title-md mb-4">ITS Student Competitions</h2>
          <p class="program-text">
            The Transportation Technology Tournament (TTT) is an annual event hosted jointly by the National
            Operations Center of Excellence (NOCoE) and the Institute of Transportation Engineers (ITE) that
            connects student teams with public agencies to solve real-world transportation problems utilizing
            ITS and Transportation Systems & Operations (TSMO) solutions. Former projects feature exciting
            solutions that include video detection, machine vision, Artificial Intelligence (AI), machine learning,
            digital twins, and more. TTT Finalist teams are invited to the ITE Annual Meeting to present their
            submission to judges&mdash;all expenses paid!
          </p>
          <div class="mt-4">
            <Link variant="button" href="https://transportationops.org/transportation-technology-tournament" isExternal>
              Learn More
            </Link>
          </div>
        </div>
      </div>
    </ProgramSection>
  </main>
</Layout>