---
import Layout from "./_layout.astro";
import Accordion from "@/src/components/Accordion.astro";
import AccordionItem from "@/src/components/AccordionItem.astro";
import Card from "@/src/components/programs/card/Card.astro"
import CardBody from "@/src/components/programs/card/CardBody.astro"
import CardFooter from "@/src/components/programs/card/CardFooter.astro";
import CardHeader from "@/src/components/programs/card/CardHeader.astro";
import { Image } from "astro:assets";

import { getEntry } from "astro:content";

const trainingCategories = await getEntry("microlearning", "microlearning");
---
<style>
  .micro-card:hover {
    background: rgba(var(--color-brand-light), 0.5);
  }
  .micro-card-header {
    padding: 0;
  }
  .micro-card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .micro-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--size);
    margin-bottom: 4rem;
  }

  @media (min-width: 1200px) {
    .micro-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .micro-card-body {
    flex-direction: column;
    padding: var(--size);
  }

  .micro-card-title {
    font-weight: 700;
    font-size: 1.2rem;
  }
</style>
<Layout>
  <main class="container-xl program-main program-padding">
    <section class="program-section">
      <h2 class="program-title-lg">
        Microlearning Videos
      </h2>
      <p class="program-text mb-4">
        Access brief videos for quick, focused learning on ITS topics.
      </p>
      <div>
        {trainingCategories.data.map(({ title, trainings }) => (
          <h3 class="program-title-md mb-4">
            {title}
          </h3>
          <div class="micro-grid">
            {trainings.map(training => (
              <Card href={training.url} isExternal class="micro-card">
                {training.image && 
                  <CardHeader class="micro-card-header">
                    <Image 
                      src={training.image} 
                      alt={training.title}
                      class="micro-card-image"
                    />
                  </CardHeader>
                }
                <CardBody class="micro-card-body">
                  <h4 class="micro-card-title">
                    {training.title}
                  </h4>
                  <p>
                    {training.description}
                  </p>
                </CardBody>
              </Card>
            ))}
          </div>
        ))}
      </div>
    </section>
  </main>
</Layout>